<div class="container-fluid shadow-lg bg-white rounded p-4">
	<div class="row">
		<div class="col">
			<h2>Absenzen nach Mitarbeiter</h2>
		</div>
	</div>
	<div class="row align-times-center row-cols-sm-auto mb-2">
		<!-- <div class="col">
			<mat-form-field appearance="fill">
				<input 
				disabled
				matInput [matDatepicker]="picker" 
				placeholder="Datum auswählen"
				[defaultValue]="dateService.today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
				(dateChange) ="dateChange($event.value)"
				[value]="dateService.selectedDate"
				>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker disabled="false"></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="col">
			<div class="row">
				<span>
					<i class="fa-solid fa-angle-left weekSelector" (click)="changeMonth('backward')"></i>
					<i class="fa-solid fa-angle-right weekSelector" (click)="changeMonth('forward')"></i>
				</span>
			</div>
			<div class="row">
				<small>KW:{{dateService.weekNumber}}</small> 
			</div>
		</div> -->
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="stateFilter">
				<option selected [ngValue]="'all'">alle Stati</option>
				<option *ngFor="let stat of ABSENCE_STATUS | keyvalue" [ngValue]="stat.key">{{stat.value}}</option>
			</select>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="depFilter" (change)="depFilterChange()">
				<option selected [ngValue]="0">Alle Departments</option>
				<option *ngFor="let dep of departments" [ngValue]="dep.id">{{dep.name}}</option>
			</select>
		</div>
		<div class="col" *ngIf="depFilter">
			<select class="btn btn-outline-secondary" [(ngModel)]="empFilter">
				<option selected [ngValue]="0" >Alle MA</option>
				<ng-container *ngFor="let emp of employees">
					<option *ngIf="emp.department.id == depFilter" [ngValue]="emp.id">{{emp.username}}</option>
				</ng-container>
			</select>
		</div>

		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="openModalRequest()">Abwesenheit beantragen</button>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-responsive">
			<thead class="table-dark">
				<tr>
					<th>Mitarbeiter</th>
					<th>Von</th>
					<th>Bis</th>
					<th>Typ</th>
					<th>Status</th>
					<!-- <th>Wiederholend</th> -->
					<!-- <th>Aktionen</th> -->
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let absence of absences">
					<!-- only show The absenece if empFitler is not set, or the absence employye equals to the filter
						OR if depFilter is not set or the absence employee's departmanet equals to the filter
						OR the stateFilter is either not set('all') or the absence status equals to the filter
					-->
					<ng-container *ngIf="(!empFilter || absence.employee.id == empFilter) &&
					 (!depFilter || depFilter == absence.employee.department.id) && 
					 (stateFilter == 'all' || absence.status==stateFilter)">
						<tr>
							<td>{{absence?.employee.username}}</td>
							<td>{{absence.start | date}}</td>
							<td>{{absence.end | date }}</td>
							<td>{{getType(absence?.type.id)}}</td>
							<td>{{getStatus(absence?.status)}}</td>
							<!-- <td>{{absence.recursive? absence.recursiveID?absence.recursiveID:absence.id:''}}</td> -->
							<!-- <td>
								<ng-container *ngIf="absence.status==='open'">
									<i (click)="updateAbsenceStatus(absence.id, 'accepted')" class="fa-solid fa-circle-check fa-green fa-xl"></i>
									<i (click)="updateAbsenceStatus(absence.id, 'denied')"class="fa-solid fa-circle-xmark fa-orange fa-xl"></i>
								</ng-container>
								<i (click)="openModalDelete(absence.id)" class="fa-solid fa-trash fa-xl fa-red"></i>
							</td> -->
						</tr>
					</ng-container>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>
<app-request-absence #requestAbsenceModal (closeEmitter)="getAbsences()"></app-request-absence>
<app-delete #deleteAbsenceModal (closeEmitter)="getAbsences()"></app-delete>
