.jumbotron {
    background-image: url("../assets/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div.banner {
    height: 300px;
}
img.logo {
    position: relative;
    height: 150px;
    top: 75px;
    left: 10%;
}
nav.bg-navbar {
    background-color: #003360
}
a.navbar-brand {
	padding-left: 20px;
}
@media print {
	app-root > * { display: none; }
	app-root app-print-layout { display: block; }
    html, body {
        background-color: red!important;
    }
 }
 ::ng-deep .cdk-overlay-container mat-datepicker-content{
    z-index:2000;
  }


/**
GENERAL
 */
 #print-container {
	height: calc(100vh - 55px);
}
.fa-white {
	color:white
}

.bg-ds-primary {
	background-color: #003360
}
.bg-ds-secondary {
	background-color: #003b6f
}

main {
	margin-left: 18vw;
}



/**
NAVIGATION
*/
.dropdown-weekplan-content{
	display:none;
}
.dropdown-weekplan:hover .dropdown-weekplan-content{
	display:block;
}
.dropdown-absences-content{
	display:none;
}
.dropdown-absences:hover .dropdown-absences-content{
	display:block;
}
.navbar {
	height: 55px;
}
.navbar-brand {
	width: 18vw;
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);

	text-overflow: ellipsis;
	overflow-x: clip;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}
.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 18vw;
	font-size: 1.5rem;

	z-index: 100;
	padding: 48px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	overflow-x: hidden;
}
@media (max-width: 767.98px) {
	.sidebar {
		 top: 5rem;
	}
}

.sidebar-brand {
   //  padding: 1.5rem 1.5rem .75rem 1.5rem;
	// transition-duration: 1s;
	// transition-timing-function: ease;
	padding: 1.5rem 1.5rem .75rem 1.5rem;
	transition-duration: 1s;
	transition-timing-function: ease;
}
.sidebar-brand img {
	// max-width: 100%;
	// height: auto;
	width: 70%;
	height: auto;

	-webkit-filter: invert(100%);
}

.sidebar .nav-item {
	padding: 10px 0;
	max-width: 100%;
}
.sidebar .nav-item:hover {
	background-color: rgb(94, 94, 94, 0.18);
}

.sidebar .nav-link,
.sidebar .user-menu .link-text {
	font-weight: 500;
	color: #333;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar .user-menu {
	position: absolute;
	bottom: 0;
	padding: .75rem 0 .75rem .75rem;
	width: 100%;

	font-size: 1rem;
	flex-wrap: nowrap;
}
.sidebar .user-menu em {
	margin-right: .75rem;
}

.sidebar .nav-toggle-trigger {
	padding: 0;
	margin: 0;
	transition-duration: 1s;
	transition-delay: .3s;
	transition-timing-function: ease-in-out;
}
.sidebar-collapsed .sidebar .nav-toggle-trigger {
	transform: rotate(540deg);
}
.sidebar-collapsed .sidebar,
.sidebar-collapsed .navbar-brand {
	width: 6vw;
}
.sidebar-collapsed main {
	margin-left: 6vw;
}
.sidebar .nav-link .link-text {
	padding-left: 1rem;
}
span.link-text{
	transition: none;
}
.sidebar-collapsed .sidebar .link-text {
	display: none;
}
.sidebar-collapsed .sidebar .nav-link {
	text-align: center;
}
.sidebar-collapsed .sidebar .sidebar-brand {
	// padding: 2.75rem .5rem .75rem .5rem;
	padding: .5rem .5rem .5rem .5rem;
}
.sidebar .nav-link .link-text,
.sidebar-collapsed .sidebar .link-text
{
	transition-duration: .5s;
	transition-delay: .5s;
	transition-timing-function: ease;
}
.nav-toggle,
main {
	transition-duration: 1s;
}



.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/**
--
*/
.jumbotron {
	background-image: url("../assets/images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
div.banner {
	height: 300px;
}
img.logo {
	position: relative;
	height: 150px;
	top: 75px;
	left: 10%;
}
@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
	html, body {
		 background-color: red!important;
	}
	.no-print {
		display: none!important;
	}
	main {
		margin-left: 1vw;
	}
}