<div id="ds-intranet">
	<header class="navbar navbar-dark sticky-top bg-ds-secondary flex-md-nowrap p-0 shadow no-print">
		<div class="navbar-brand bg-ds-primary me-0 px-3 nav-toggle h-100" href="#">
			DS Intranet
		</div>
		
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
		data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
		aria-expanded="false" aria-label="Toggle navigation">
		<em class="fa fa-home"></em>
	</button>
	<!-- 
		<div class="navbar-nav">
			<div class="nav-item text-nowrap" *ngIf="user">
				<a class="nav-link px-3" href="#" (click)="logout()" type="submit">Logout</a>
			</div>
		</div> -->
	</header>
	
	
	<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse nav-toggle no-print">
		
		<div class="sidebar-brand">
			<img src="favicon.ico">
		</div>
		
		<div class="position-sticky pt-3">
			<ul class="nav flex-column">
				
				<li class="nav-item">
					<a id="dashboardLink" class="nav-link" aria-current="page" href="#" routerLink="news" routerLinkActive="active">
						<em class="fa fa-dashboard"></em>
						<span class="link-text">News</span>
					</a>
				</li>
				
				<li class="nav-item">
					<div class="dropdown-weekplan col" dropdown-with-select>
						<a href="#" routerLink="wochenplan" class="nav-link text-decoration-none dropdown-toggle" routerLinkActive="active" id="dropdownCalendar" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
							<em class="fa-solid fa-calendar-week"></em> 							
							<span class="link-text">Wochenplan</span>
						</a>
						<div class="dropdown-weekplan-content">
								<a class="nav-link dropdown-item" href="#" routerLink="deviceplan" routerLinkActive="active">
									<em class="fa-solid fa-satellite"></em> 
									<span class="link-text">Geräteplan</span>
								</a>
								<a class="nav-link dropdown-item" aria-current="page" href="#" routerLink="feldeinsatz" routerLinkActive="active">
									<em class="fa fa-truck-field"></em>
									<span class="link-text">Feldeinsatz</span>
								</a>
							</div>						
						</div>
					</li>

					<li class="nav-item">
						<div class="dropdown-absences ">
							<a class="nav-link dropdown-toggle" aria-current="page" href="#" routerLink="absences" routerLinkActive="active">
								<em class="fa fa-solid fa-building-circle-xmark"></em>
								<span class="link-text">Absenzenplan</span>
							</a>
							<div class="dropdown-absences-content">
								
								<a class="nav-link dropdown-item" href="#" routerLink="personalAbsences" routerLinkActive="active">
									<em class="fa fa-solid fa-user-xmark"></em>
									<span class="link-text">Mitarbeiter Absenzen</span>
								</a>
								
							</div>
						</div>
					</li>
					<!-- <li class="nav-item">
						<a href="#" routerLink="projectManagement" aria-current="page" class="nav-link" routerLinkActive="active">
							<em class="fa-solid fa-map-location-dot"></em>
							<span class="link-text">bluMAP</span>
						</a>
					</li> -->
					<li class="nav-item">
						<a href="https://dswiki.intra.bsb-partner.ch" class="nav-link" routerLinkActive="active">
							<em class="fa-solid fa-book"></em> 
							<span class="link-text">Wiki</span>
						</a>
					</li>
				</ul>
			</div>
			
			<div class="user-menu row">
				<div class="dropdown col">
					<a href="#" class="text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<em class="fa fa-user"></em>
						<!-- <strong class="link-text">{{user?.username}}</strong> -->
					</a>
					<!-- <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1"> -->
						<!-- <li><a class="dropdown-item" href="#">Neues Projekt...</a></li> -->
						<!-- <li><a class="dropdown-item" href="#">Einstellungen</a></li> -->
						<!-- <li><a class="dropdown-item" href="#">Profil</a></li> -->
						<!-- <li><hr class="dropdown-divider"></li> -->
						<!-- <li><a class="dropdown-item" href="#" (click)="logout()" type="submit">Logout</a></li> -->
						<!-- </ul> -->
					</div>
					<div class="col-auto p-0">
						<a id="toggleNav" href="#" (click)="toggleNav($event)"><em class="fa fa-arrow-left nav-toggle-trigger m-0"></em></a>
					</div>
				</div>
				
			</nav>
			<main>
				<div id="print-container">
					<router-outlet></router-outlet>
					<router-outlet name="print"></router-outlet>
				</div>
				
			</main>
		</div>