<ng-template #addFieldTask let-c="close" let-d="dismiss">
    <div class=" modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="showTaskModalTitle">Feldeinsatz erstellen</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup] ="createFieldTaskForm" class="form-group" name="createFieldTaskForm" (ngSubmit)="createTask()">
                <div class="modal-body">
                    <div class="col form-group form p-3">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="orderNO">Auftragsnummer</label>
                                <input type="text" class="form-control" name="orderNO" formControlName="orderNO">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for ="creator">Operateur</label>
                                <select class="form-control" type="text" name="employee" placeholder="Ersteller Kürzel" formControlName="operator" required>
                                    <option value="" selected hidden disabled>Operateur auswählen</option>
                                    <option *ngFor="let emp of employees" [ngValue]="emp.id">{{emp.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm">
                                <label class="form-label" for="orderDescription">Beschreibung</label>
                                <textarea type="text" class="form-control" name="orderDescription" formControlName="orderDescription" required></textarea>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col">
                                <label for="date" class="form-label">Datum</label>
                                <input type="date" class="form-control" name ="date" placeholder="Date" formControlName="date" required>
                            </div>
                            <div class="col">
                                <label for="radios">Zeit</label>
                                <select class="form-control" type="text" name="time" formControlName="time" required>
                                    <option value="" selected hidden disabled>Zeit auswählen</option>
                                    <option value="morning">Vormittag</option>
                                    <option value="afternoon">Nachmittag</option>
                                    <option value="day">Ganzer Tag</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="location">Standort</label>
                                <input type="text" name="location" formControlName="location" class="form-control" required>
                            </div>
                        </div> -->
                        <div class="row mb-3 align-items-center">
                            <div class="col-3 form-group">
                                <label for="tachy" class="form-label">Tachys:</label>
                                <input min="0" max="4" class="form-control" type="number" formControlName="tachyAmount" name="tachy" value=0 >
                            </div>
                            <div class="col-3 form-group">
                                <label for="gnss" class="form-label">GNSS:</label>
                                <input min="0" max="4" class="form-control" type="number" formControlName="gnssAmount" name="gnss">
                            </div>
                            <div class="col-3 form-group">
                                <label for="employee" class="form-label">Mitarbeiter:</label>
                                <input min="0" class="form-control" type="number" name="employee" formControlName="employeeAmount">
                            </div>
                            <div class="col-3 form-group">
                                <label for="car" class="form-label">Fahrzeuge:</label>
                                <input min="0" max="4" class="form-control" type="number" name="car" formControlName="carAmount">
                            </div>
                        </div>
                        <div class="row mb-3 form-group">
                            <div class="col">
                                <label for="location" class="form-label">Startpunkt</label>
                                <select required placeholder="Startpunkt Auswhälen" class="form-control" type="text" name="location" formControlName="location">
                                    <option value="" disabled selected hidden>Startpunkt auswählen</option>
                                    <option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="row from-group">
                            <div class="col">
                                <label for="comment" class="form-label">Bemerkung</label>
                                <textarea rows="2" name="comment" class="form-control" formControlName="comment"></textarea>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [ngClass]="createFieldTaskForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createFieldTaskForm.valid">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
