<ng-template #finishProjects let-c="close" let-d="dismiss">
	<form [formGroup]="finishProjectForm" class="modal-content form-group" name="finishProjectForm" (ngSubmit)="finishProject()">
		<div class="modal-header">
			<h4 class="modal-title" id="showTaskModalTitle">{{project.title}}</h4>
			<button type="button" class="close btn btn-light" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="col form-group form">
				<div class="accordion" id="accordionFinishProject">
					<div class="card">
						<a class="btn btn-light" data-toggle="collapse" data-target="#references" aria-expanded="true" aria-controls="references">
							<div class="card-header" id="headingGeneral">
								<h4 class="mb-0"><em class="fa-solid fa-list-check"></em> Referenzen</h4>
							</div>
						</a>
						<div id="references" class="collapse" aria-labelledby="headingGeneral" data-parent="#accordionFinishProject">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col ml-2">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" name="isReferenceWeb" id="isReferenceWeb" formControlName="isReferenceWeb">
											<label class="form-check-label" for="isReferenceWeb">
												Referenzprojekt
											</label>
										</div>
									</div>
									<div class="col">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" name="isReferenceTrainee" id="isReferenceTrainee" formControlName="isReferenceTrainee">
											<label class="form-check-label" for="isReferenceTrainee">
												Ausbildungsreferenz
											</label>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<div class="form-floating">
											<textarea type="text" class="form-control" name="comment" id="comment" formControlName="comment" placeholder=" " [(ngModel)]="this.project.comment"></textarea>
											<label class="form-label" for="comment">Kommentar</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="btn btn-light" data-toggle="collapse" data-target="#collapseInvoice" aria-expanded="true" aria-controls="collapseInvoice">
								<div class="card-header" id="headingInvoice">
									<h4 class="mb-0">
										<em class="fa-solid fa-coins"></em> Rechnungen
									</h4>
								</div>
							</a>
							<div id="collapseInvoice" class="collapse" aria-labelledby="headingInvoice" data-parent="#accordionFinishProject">
								<div class="card-body">
									<table class="table" *ngIf="project.invoices.length > 0">
										<thead>
											<tr>
												<th scope="col col-sm-auto">Rechnungsnummer</th>
												<th scope="col col-sm-auto">Betrag</th>
												<th scope="col col-sm-auto">Datum</th>
												<th scope="col col-sm-auto">Benutzer</th>
												<th scope="col col-sm-auto">Entfernen</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let invoice of project.invoices">
												<td>{{invoice.number}}</td>
												<td>{{invoice.amount}}</td>
												<td>{{invoice.date | date:'dd.MM.yy' }}</td>
												<td>{{invoice.employee.username}}</td>
												<td>
													<button type="button" class="btn btn-sm btn-danger btn-outlined" (click)="deleteInvoice(invoice.id)">
														<em class="fa-solid fa-minus"></em>  Entfernen
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<form [formGroup]="invoiceForm">
										<div class="row mb-3">
											<div class="col-sm-2">
												<div class="form-floating">
													<input formControlName="amount"  type="number" min="0" class="form-control" name="invoiceAmount">
													<label class="form-label" for="invoiceAmount">Betrag</label>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-floating">
													<input formControlName="number" type="text" class="form-control" name="invoiceNumber">
													<label class="form-label" for="invoiceNumber">Rechnungsnummer</label>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="form-floating">
													<input formControlName="date" type="date" class="form-control" name="invoiceDate">
													<label class="form-label" for="invoiceDate">Rechnungsdatum</label>
												</div>
											</div>
											<div class="col-sm-3">
												<mat-form-field appearance="outline">
													<input type="text"
													name="invoiceEmployee"
													placeholder="Verantwortlicher MA"
													matInput
													formControlName="employee"
													[matAutocomplete]="autoInvoiceEmployee">
													<mat-autocomplete #autoInvoiceEmployee="matAutocomplete" [displayWith]="displayEmployee">
														<mat-option *ngFor="let emp of filteredInvoiceEmployee | async" [value]="emp">
															{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
														</mat-option>
													</mat-autocomplete>
													<mat-label><em class="fa fa-user"></em>Verantwortlicher MA</mat-label>
												</mat-form-field>
		
											</div>
											<div class="col-sm-2">
												<button type="button" class="btn btn-success btn-outlined" (click)="addInvoice(projectId)">
													<em class="fa-solid fa-plus"></em>  Hinzufügen
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<ng-container>
				<button type="button" class = "btn btn-secondary" (click)="downloadExcel(project.id)">Excel herunterladen</button>
			</ng-container> 
			<button type="submit" [ngClass]="finishProjectForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!finishProjectForm.valid">Speichern</button>
		</div>
	</form>
</ng-template>