i.weekSelector {
    cursor: pointer;
    margin: 4px;
}
table.table-hover>tbody>tr>td:hover {
    background-color: rgb(194, 193, 193);
	 color:black;
}
td.td-name {
    text-transform: uppercase;
}
th.th-today {
    background-color: grey
}

tr td:nth-child(7), tr td:nth-child(8), td.holiday {
    // background: darken($color: #c5c5c5, $amount: 50%)
    background-color: #CCC;
}
td.homeOffice {
    background-color: yellow;
}
td.absence-Ferien{ /* vacation */
    color:orange!important;
}
td.absence-Militär {
	color:green!important;
}
td.absence-Schule {
   color:blue!important;
}
td.absence-Krank {
	color:red!important;
}

.clickable {
    cursor: pointer;
}
i.clickable {
	margin-right: 3%;
}
i.fa-red {
    color: red;
  }

i.fa-green {
    color: rgb(44, 189, 44);
}
/* @media only screen and (max-width: 768px) {
    div.form {
        height: 100%;
        width: 100%;
    }
}
div.form {
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    border: black;
    border-radius: 2%;
    background-color: rgba(182, 181, 181);
} */