<div class="container-fluid shadow-lg bg-white rounded p-4 d-print-none">
	<div class="row">
		<div class="col">
			<h2> Wochenplan </h2>
		</div>
	</div>
	<div class="row align-items-center row-cols-sm-auto mb-2">
		<div class="col">
			<mat-form-field appearance="fill">
				<input 
				disabled
				matInput [matDatepicker]="picker" 
				placeholder="Datum auswählen"
				[defaultValue]="today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
				(dateChange) ="getDates($event.value)"
				[value]="selectedDate"
				>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker disabled="false"></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="col">
			<div class="row">
				<span>
					<i class="fa-solid fa-angle-left weekSelector" (click)="changeWeek('backward')"></i>
					<i class="fa-solid fa-angle-right weekSelector" (click)="changeWeek('forward')"></i>
				</span>
			</div>
			<div class="row">
				<small>KW:{{weekNumber}}</small> 
			</div>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="depFilter">
				<ng-container *ngIf="locFilter != 0; else noLocFilter">
					<option selected [ngValue]="0" >Alle Abteilungen</option>
					<option *ngFor="let dep of filteredDepartments" [ngValue]="dep.id">{{dep.name}}</option>
				</ng-container>
				<ng-template #noLocFilter>
					<option selected [ngValue]="0" >Alle Abteilungen</option>
					<option *ngFor="let dep of departments" [ngValue]="dep.id">{{dep.name}}</option>
				</ng-template>
			</select>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="locFilter" (change)="checkDepartments()">
				<option selected [ngValue]="0">Alle Standorte</option>
				<option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
			</select>
		</div>
		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="print()">Drucken</button>
		</div>
		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="openCreateModal()">Feldeinsatz erfassen</button>
		</div>
	</div>	
	<div class="row">
		<div class="table-responsive-lg">
			<table class="table table-striped table-hover ">
				<thead class="table-dark">
					<tr>
						<th>Name</th>                        
						<!-- <th *ngFor='let date of dates' [ngClass]="{'th-today': compareDates(date,today)}">{{date.toLocaleDateString('de-CH',{'weekday':'short','day':'2-digit','month':'2-digit','year':'2-digit'})}}</th>  -->
						<th *ngFor='let d of dates; let i = index' [ngClass]="[compareDates(d,today)?'th-today':'',holidays[i]?'holiday':'', d.getDay()==6||d.getDay()==0?'weekend':'']">{{d | date:'ccc, dd.MM.YY'}}</th> 
					</tr>
				</thead>
				<tbody>
					<tr *ngFor ="let employee of employees">
						<ng-container 
						*ngIf="(!depFilter || (depFilter && employee.department.id === depFilter)) &&
						(!locFilter || (locFilter && employee.workplace === locFilter))">

								<td   [style.background-color]="employee.department.color" class="td-name">
									{{employee.username}}
								</td>
								<ng-container *ngFor="let da of dates; let i = index">
									<ng-container *ngIf="absenceByEmployee.get(employee.id)?.get(da);then gotAbsence;else noAbsence"></ng-container>
									<ng-template #gotAbsence>
										<td [ngClass]="['absence-'+absenceByEmployee.get(employee.id).get(da),holidays[i]?'holiday':'']">
											<!-- <i *ngIf="employee.birthday.substring(5) == da.toLocaleDateString('en-CA').substring(5)" class="fa-solid fa-cake-candles"> </i> -->
											<i *ngIf="(employee.birthday | date:'dd-MM') == (da | date:'dd-MM')" class="fa-solid fa-cake-candles"> </i>

											{{absenceByEmployee.get(employee.id).get(da)}}
										</td>
									</ng-template>
									<ng-template #noAbsence>
										<td *ngIf="taskList.get(employee.username)[i];then thenBlock; else elseBlock"></td>
										<ng-template #thenBlock>
											<td class="dark-hover"[ngClass]="[taskList.get(employee.username)[i].homeOffice?'homeOffice' : '',holidays[i]?'holiday':'']" >
												<div class="clickable" (click)="showTask(taskList.get(employee.username)[i],showTaskModal)">
													<!-- <i *ngIf="employee.birthday.substring(5) == da.toLocaleDateString('en-CA').substring(5)" class="fa-solid fa-cake-candles"> </i> -->
													<i *ngIf="(employee.birthday | date:'dd-MM') == (da | date:'dd-MM')" class="fa-solid fa-cake-candles"> </i>

													{{(taskList.get(employee.username)[i]).name}}
												</div>
												<!-- <ng-container *ngIf="fieldTaskMap?.get(da.toLocaleDateString('en-CA'))?.get(employee.username)"> -->
												<ng-container *ngIf="fieldTaskMap?.get((da | date:'yyyy-MM-dd')).get(employee.username)">
													<ng-container *ngFor="let task of fieldTaskMap.get(da | date:'yyyy-MM-dd').get(employee.username)">
														<div class="col">
															<i [ngClass]="task.released ? 'fa-solid fa-compass-drafting clickable fa-green': 'fa-solid fa-compass-drafting clickable fa-red' " (click)="openShowModal(task.id)"></i>
															{{task.time == 'morning' ? "VM: " : task.time == 'afternoon' ? "NM: " : task.time =='night' ? 'NE: ' :''}}{{task.orderDescription}}
														</div>
													</ng-container>
												</ng-container>
											</td>    
										</ng-template>
										<ng-template #elseBlock>
											<td (click)="addTask(employee.username,i,addTaskModal)" [ngClass]="[holidays[i]?'holiday':'']">
												<!-- <i *ngIf="employee.birthday.substring(5) == da.toLocaleDateString('en-CA').substring(5)" class="fa-solid fa-cake-candles"></i> -->
												<i *ngIf="(employee.birthday | date:'dd-MM') == (da | date:'dd-MM')" class="fa-solid fa-cake-candles"> </i>
												<ng-container *ngIf="fieldTaskMap?.get(da| date:'yyyy-MM-dd')?.get(employee.username)">
													<ng-container *ngFor="let task of fieldTaskMap.get(da | date:'yyyy-MM-dd').get(employee.username)">
														<div class="col">
															<i [ngClass]="task.released ? 'fa-solid fa-compass-drafting clickable fa-green': 'fa-solid fa-compass-drafting clickable fa-red' " (click)="openShowModal(task.id,$event)"></i>
															{{task.time == 'morning' ? "VM: " : task.time == 'afternoon' ? "NM: " : task.time =='night' ? 'NE: ' :''}}{{task.orderDescription}}
														</div>
													</ng-container>
												</ng-container>
											</td>
										</ng-template> 
									</ng-template>
								</ng-container>
							</ng-container>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<ng-template #showTaskModal let-c="close" let-d="dismiss">
		<div class="modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="showTaskModalTitle">Aufgabe</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('close with button')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form [formGroup]="formData">
					<div class="modal-body">
						<div class="col-md-12 showTask form-group form p-3">
							<div class="row">
								<div class="col-auto">
									<label  class="form-label" for ="employee">{{formData.get('employeeKZ').value}}</label>
									<input 
									hidden
									readonly
									class="" 
									type="text" 
									name="employee" 
									placeholder="Kürzel" 
									formControlName="employeeKZ"
									>
								</div>
								<div class="col-auto">
									<div class="mb-3">
										<label class="form-label" for="date">{{formData.get('taskDate').value | date}}</label>
										<input 
										hidden
										class="form-control" 
										type="date" 
										name="date" 
										formControlName="taskDate"
										readonly
										>
									</div>    
								</div>
							</div>
							
							<div class="mb-3">
								<div class="form-floating">
									<input type="text" class="form-control" name ="taskName" placeholder="Vermessung" formControlName="taskName" required>
									<label for="task" class="form-label">Aufgabe</label>
								</div>
								<div *ngIf="formData.get('taskName').invalid && (formData.get('taskName').dirty || formData.get('taskName').touched)" class="alert alert-danger">
									<div *ngIf="formData.get('taskName').errors?.['required']">
										Aufgabe ist zwingend
									</div>
									<div *ngIf="formData.get('taskName').errors?.['minlength']">
										Aufgabe muss mindestend 2 Zeichen umfassen
									</div>
								</div>
							</div>
							
							<div class="mb-3">
								<div class="form-floating">
									<textarea class="form-control" name="description" style="height: 10%;" placeholder="be" formControlName="description"></textarea>
									
									<label class="form-label" for="description">Beschreibung</label>
								</div>
								<!-- <div *ngIf="formData.get('description').invalid && (formData.get('description').dirty || formData.get('description').touched)" class="alert alert-danger">
									<div *ngIf="formData.get('description').errors?.['required']">
										Beschreibung ist zwingend
									</div>
								</div> -->
							</div>

							<div class="row">
								<div class="col-auto">
									<div class="form-check">
										<input type="checkbox" name="homeOffice" class="form-check-input" formControlName="homeOffice">
										<label class="form-check-label" for="homeOffice">Home Office</label>
									</div>
								</div>
							</div>   
							<!-- <div class="mb-3">
								<label class="form-label" for ="employee">Mitarbieter</label>
								<input 
								class="form-control" 
								type="text" 
								name="employee" 
								placeholder="Kürzel" 
								readonly
								formControlName="employeeKZ"
								>
							</div> -->
							<!-- <div class="mb-3">
								<label for="task" class="form-label">Aufgabe</label>
								<input 
								type="text" 
								class="form-control"
								name ="task" 
								placeholder="Vermessung" 
								readonly
								formControlName="taskName"
								>
							</div> -->
							<!-- <div class="mb-3">
								<label class="form-label" for="description">Beschreibung</label>
								<input 
								class="form-control" 
								type="text" 
								name="description" 
								placeholder="Vermessungsarbeiten in Burgdorf" 
								readonly
								formControlName="description"
								>
							</div>
							<div class="mb-3">
								<label class="form-label" for="date">Datum</label>
								<input 
								class="form-control" 
								type="date" 
								name="date" 
								formControlName="taskDate"
								readonly
								>
							</div> -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" (click)="deleteTask()" class="btn btn-danger" >Delete</button>
						<button type="button" (click)="updateTask()" [ngClass]="formData.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!formData.valid">Speichern</button>

						<!-- <button type="button" class="btn btn-warning" (click)="copyTask()">Kopieren</button> -->
					</div>
				</form>
			</div>
		</div>
	</ng-template>
	<ng-template #addTaskModal let-c="close" let-d="dismiss">
		<div class=" modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="showTaskModalTitle">Aufgabe</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="form-group" name="addTask" [formGroup]="formData" (ngSubmit)="submitTask()">
					<div class="modal-body">
						<div class="col-md-12 showTask form-group form p-3">
							<div class="row">
								<div class="col-auto">
									<label  class="form-label" for ="employee">{{formData.get('employeeKZ').value}}</label>
									<input 
									hidden
									readonly
									class="" 
									type="text" 
									name="employee" 
									placeholder="Kürzel" 
									formControlName="employeeKZ"
									>
								</div>
								<div class="col-auto">
									<div class="mb-3">
										<label class="form-label" for="date">{{displayDate}}</label>
										<input 
										hidden
										class="form-control" 
										type="date" 
										name="date" 
										formControlName="taskDate"
										readonly
										>
									</div>    
								</div>
							</div>
							<div class="mb-3">
								<div class="form-floating">
									<input type="text" class="form-control" name ="taskName" placeholder="Vermessung" formControlName="taskName" required>
									<label for="task" class="form-label">Aufgabe</label>
								</div>
								<div *ngIf="formData.get('taskName').invalid && (formData.get('taskName').dirty || formData.get('taskName').touched)" class="alert alert-danger">
									<div *ngIf="formData.get('taskName').errors?.['required']">
										Aufgabe ist zwingend
									</div>
									<div *ngIf="formData.get('taskName').errors?.['minlength']">
										Aufgabe muss mindestend 2 Zeichen umfassen
									</div>
								</div>
							</div>
							<div class="mb-3">
								<div class="form-floating">
									<textarea class="form-control" name="description" style="height: 10%;" placeholder="be" formControlName="description"></textarea>
									
									<label class="form-label" for="description">Beschreibung</label>
								</div>
								<!-- <div *ngIf="formData.get('description').invalid && (formData.get('description').dirty || formData.get('description').touched)" class="alert alert-danger">
									<div *ngIf="formData.get('description').errors?.['required']">
										Beschreibung ist zwingend
									</div>
								</div> -->
							</div>
							<div class="row">
								<div class="col-auto">
									<div class="form-check">
										<input type="checkbox" name="homeOffice" class="form-check-input" formControlName="homeOffice">
										<label class="form-check-label" for="homeOffice">Home Office</label>
									</div>
								</div>
							</div>   
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" [ngClass]="formData.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!formData.valid">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</ng-template>
	<app-edit-feldeinsatz #editFeldeinsatz></app-edit-feldeinsatz>
	<app-show-feldeinsatz #showFeldeinsatz (copyEventEmitter)="createCopiedFieldTask()"></app-show-feldeinsatz>
	
	
	
	