<ng-template #requestAbsence let-c="close" let-d="dismiss">
	<div class="modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="requestAbsenceTitle">Abwesenheit erfassen</h4>
				<button class="close" type="button" aria-label="close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form [formGroup]="requestAbsenceForm" class="form-group" name="requestAbsenceForm" (ngSubmit)="submitForm()">
				<div class="modal-body">
					<div class="col form-group form p-3">
						<div class="row mb-3">
							<div class="col-sm-8">
								<div class="form-floating">
									<mat-form-field appearance="outline">
										<input type="text"
											name="employee"
											placeholder="Mitarbeiter"
											matInput
											formControlName="employee"
											[matAutocomplete]="auto">
										<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
											<mat-option *ngFor="let emp of filteredEmployees | async" [value]="emp">
												{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
											</mat-option>
										</mat-autocomplete>
										<mat-label><em class="fa fa-user"></em>Mitarbeiter</mat-label>
									</mat-form-field>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-floating">
									<select id="floatingType" class="form-select"  formControlName="type" required (change)="checkForm()">
										<option value="" hidden selected disabled></option>
										<option *ngFor="let type of absenceTypes" [ngValue]="type">{{(type.type)}}</option>
									</select>
									<label class="form-label" for="floatingType">Typ</label>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								<input class="form-check-input" type="checkBox" ([ngModel])="recursiveAbsence" name="recursive" id="recursive" (change)="recursiveAbsence =!recursiveAbsence;checkForm()">
								<label class="form-check-label" for="recursive">Wiederholend</label>
							</div>
						</div>
						<div  class="row" *ngIf="!recursiveAbsence else showRecursive">
							<mat-form-field appearance="fill">
								<mat-label>Daten auswählen</mat-label>
								<mat-date-range-input [rangePicker]="picker">
								  <input matStartDate formControlName="start" placeholder="Von">
								  <input matEndDate formControlName="end" placeholder="Bis" (dateChange)="checkForm()">
								</mat-date-range-input>
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-date-range-picker #picker class="bla"></mat-date-range-picker>
							</mat-form-field>
							<div *ngIf="requestAbsenceForm.get('start').dirty && requestAbsenceForm.get('end').dirty && !datesOkay && requestAbsenceForm.valid" class="alert alert-danger">
								An diesen Daten besteht bereits eine Abwesenheit
							</div>
						</div>
						<ng-template #showRecursive>
							<div class="row mb-3">
								<div class="col">
									<div class="form-floating">
										<select id="recursiveType" class="form-select" ([ngValue])="recursiveType" placeholder="recurrenceType" (change)="changeType($event)">
											<option value="0">Wöchentlich</option>
											<!-- <option value="1">Monatlich</option> -->
											<option value="1">2-wöchentlich</option>
										</select>
										<label class="form-label" for="recursiveType">Wiederholungsart</label>
									</div>
								</div>
							</div>
							<div class="row">
								<mat-form-field appearance="fill">
									<mat-label>Startdatum</mat-label>
									<input matInput [matDatepicker]="picker" [(ngModel)]="recursiveStart" [ngModelOptions]="{standalone:true}" (dateChange)="checkForm()">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
							</div>
							<div class="row mb-3" *ngIf="recursiveType == 0 || recursiveType == 1">
								<div *ngFor="let day of weekDays" class="col-auto">
									<input type="checkbox" class="btn-check" autocomplete="off" id="{{day.name}}" (click)="changeWeekDay(day.name)">
									<label class="btn btn-outline-primary btn-sm" for="{{day.name}}">{{day.name}}</label>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
										<input type="radio" name="endingType" value="endDate" [(ngModel)]="endingType" id="endingDate" [ngModelOptions]="{standalone:true}" (change)="checkForm()">
										<label for="endingDate"  class="radio-label">Enddatum</label>
									<div class="row">
										<mat-form-field appearance="fill">
											<mat-label>Enddatum</mat-label>
											<input [disabled]="endingType!='endDate'" matInput [matDatepicker]="picker2" [(ngModel)]="recursiveEnd" [ngModelOptions]="{standalone:true}" (dateChange)="checkForm()">
											<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
											<mat-datepicker #picker2></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="col-6">
										<input type="radio"[(ngModel)]="endingType" [ngModelOptions]="{standalone:true}" name="endingType" value="occurences" id="occurences" (change)="checkForm()">
										<label for="occurences" class="radio-label">Anzahl Termine</label>
									<div class="row">
										<div class="col">
											<div class="form-floating">
												<input class="form-control" [disabled]="endingType!='occurences'" type="number" id="numberOfOccurences" name="numberOfOccurences" [(ngModel)]="numberOfOccurences"  [ngModelOptions]="{standalone:true}"placeholder="Anzahl" (change)="checkForm()">
												<label for="numberOfOccurences" >Anzahl</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" [ngClass]="formValid?'btn btn-success' : 'btn btn-danger'" [disabled]="!formValid">Speichern</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>