<ng-template #realizeProject let-c="close" let-d="dismiss">
	<form [formGroup]="createRealisationForm" class="modal-content form-group" name="createPlanningForm" (ngSubmit)="createRealisationInstance()">
		<div class="modal-header">
			<h4 class="modal-title" id="showTaskModalTitle">{{project.title}}</h4>
			<button type="button" class="close btn btn-light" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="col form-group form">
				<div class="accordion" id="accordionRealizeProject">
					<div class="card">
						<!-- <a class="btn btn-light" data-toggle="collapse" data-target="#collapseProjectOverview" aria-expanded="true" aria-controls="collapseProjectOverview">
							<div class="card-header" id="headingGeneral">
								<h4 class="mb-0"><em class="fa-solid fa-box"></em> Projekt Projektübersicht</h4>
							</div>
						</a>
						<div id="collapseProjectOverview" class="collapse show" aria-labelledby="headingGeneral" data-parent="#accordionPlanProject">
							<div class="card-body">
								<div class="row">
									<div class="col">Akquisitionsnummer</div>
									<div class="col">{{this.project.acquisitionId}}</div>
								</div>
								<div class="row">
									<div class="col">Projektname</div>
									<div class="col">{{this.project.title}}</div>
								</div>
								<div class="row">
									<div class="col">Abteilung</div>
									<div class="col">{{getDepartmentName(this.project.department)}}</div>
								</div>
								<div class="row">
									<div class="col">Gemeinde</div>
									<div class="col">{{this.project.township}}</div>
								</div>
								<div class="row">
									<div class="col">AuftraggeberIn</div>
									<div class="col">
										<div class="row" *ngFor="let client of project.client">
											{{getCustomerName(client)}}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">beteiligte Stellen</div>
									<div class="col">
										<div class="row" *ngFor="let company of project.company">
											{{getCustomerName(company)}}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">Planergemeinschaft</div>
									<div class="col">{{this.project.planningGroup}}</div>
								</div>
								<div class="row">
									<div class="col">SIA-Phase</div>
									<div class="col">{{this.project.SIAphase}}</div>
								</div>
								<div class="row">
									<div class="col">Erwartete Kosten</div>
									<div class="col">{{this.project.estimatedCosts}}</div>
								</div>
								<div class="row">
									<div class="col">Akzeptierte Kosten</div>
									<div class="col">{{this.project.acceptedCosts}}</div>
								</div>
								<div class="row">
									<div class="col">Effektive Kosten</div>
									<div class="col">{{this.project.effectiveCosts}}</div>
								</div>
								<div class="row">
									<div class="col">Erwartetes Enddatum</div>
									<div class="col">{{this.project.estimatedDoneDate | date: 'dd.MM.yyyy'}}</div>
								</div>
								<div class="row">
									<div class="col">Kommentar</div>
									<div class="col">{{this.project.comment}}</div>
								</div>
							</div>
						</div> -->
						<a class="btn btn-light" data-toggle="collapse" data-target="#collapsePlanning" aria-expanded="true" aria-controls="collapsePlanning">
							<div class="card-header" id="headingGeneral">
								<h4 class="mb-0"><em class="fa-solid fa-person-digging"></em> Realisierung</h4>
							</div>
						</a>
						<div id="collapsePlanning" class="collapse" aria-labelledby="headingGeneral" data-parent="#accordionRealizeProject">
							<div class="card-body">
								<!-- <div class="row mb-3">
									<div class="col ml-2">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" name="isReferenceWeb" id="isReferenceWeb" formControlName="isReferenceWeb">
											<label class="form-check-label" for="isReferenceWeb">
												Referenzprojekt
											</label>
										</div>
									</div>
									<div class="col">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" name="isReferenceTrainee" id="isReferenceTrainee" formControlName="isReferenceTrainee">
											<label class="form-check-label" for="isReferenceTrainee">
												Ausbildungsreferenz
											</label>
										</div>
									</div>
								</div> -->
								
								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<!-- <div class="form-floating input-group">
											<select class="form-select" type="text" name="foreman" id="foreman" formControlName="foreman">
												<option *ngFor="let emp of employees" [ngValue]="emp.id">{{emp.username}} - {{emp.firstname}} {{emp.lastname}}</option>
											</select>
											<span class="input-group-text"><em class="fa fa-user"></em></span>
											<label class="form-label" for="foreman">Definitiver BauleiterIn</label>
										</div> -->
										<mat-form-field appearance="outline">
											<input type="text"
											name="foreman"
											placeholder="BauleiterIn"
											matInput
											formControlName="foreman"
											[matAutocomplete]="autoForeman">
											<mat-autocomplete #autoForeman="matAutocomplete" [displayWith]="displayEmployee">
												<mat-option *ngFor="let emp of filteredForeman | async" [value]="emp">
													{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>BauleiterIn</mat-label>
										</mat-form-field>
									</div>
									<div class="col-sm-12 col-md-4 offset-md-2">
										<!-- <div class="form-floating input-group">
											<select class="form-select" type="text" name="foremanDep" id="foremanDep" formControlName="foremanDep">
												<option *ngFor="let emp of employees" [ngValue]="emp.id">{{emp.username}} - {{emp.firstname}} {{emp.lastname}}</option>
											</select>
											<span class="input-group-text"><em class="fa fa-user"></em></span>
											<label class="form-label" for="foremanDep">Definitiver BauleiterIn Stv.</label>
										</div> -->
										<mat-form-field appearance="outline">
											<input type="text"
											name="foremanDep"
											placeholder="BauleiterIn stv."
											matInput
											formControlName="foremanDep"
											[matAutocomplete]="autoForemanDep">
											<mat-autocomplete #autoForemanDep="matAutocomplete" [displayWith]="displayEmployee">
												<mat-option *ngFor="let emp of filteredForemanDep | async" [value]="emp">
													{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>BauleiterIn stv.</mat-label>
										</mat-form-field>
									</div>
								</div>
								
								<div class="row mb-3">
									<div class="col-sm">
										<div class="form-floating">
											<textarea type="text" class="form-control" name="comment" id="comment" formControlName="comment" placeholder=" " [(ngModel)]="this.project.comment"></textarea>
											<label class="form-label" for="comment">Kommentar</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="card">
							<a class="btn btn-light" data-toggle="collapse" data-target="#collapseReferenceProjects" aria-expanded="true" aria-controls="collapseReferenceProjects">
								<div class="card-header" id="headingReferenceProjects">
									<h4 class="mb-0">
										<em class="fa-solid fa-list-check"></em> Referenzprojekte
									</h4>
								</div>
							</a>
							<div id="collapseReferenceProjects" class="collapse" aria-labelledby="headingReferenceProjects" data-parent="#accordionRealizeProject">
								<div class="card-body">
									<table class="table">
										<thead>
											<tr>
												<th scope="col col-sm-3">Projekt ID</th>
												<th scope="col col-sm-auto">Titel</th>
												<th scope="col col-sm-2">Entfernen</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let proj of allReferenceProjects">
												<td>{{proj.projectId}}</td>
												<td>{{proj.title}}</td>
												<td>
													<button type="button" class="btn btn-sm btn-danger btn-outlined" (click)="removeReferenceProject(proj.id)">
														<em class="fa-solid fa-minus"></em>  Entfernen
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="row mb-3">
										<h4>Vorhandene Projekte</h4>
									</div>
									<div class="row mb-3">
										<table class="table">
											<thead>
												<tr>
													<th scope="col col-sm-4">Projekt ID</th>
													<th scope="col col-sm-auto">Beschreibung</th>
													<th scope="col col-sm-2">Hinzufügen</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let proj of allProjects">
													<td>{{proj.projectId}}</td>
													<td>{{proj.title}}</td>
													<td>
														<button type="button" class="btn btn-sm btn-success btn-outlined" (click)="addReferenceProject(proj.id)">
															<em class="fa-solid fa-plus"></em>  Hinzufügen
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<ng-container>
				<button type="button" class = "btn btn-secondary" (click)="downloadExcel(project.id)">Excel herunterladen</button>
			</ng-container> 
			<button type="submit" [ngClass]="createRealisationForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createRealisationForm.valid">Speichern</button>
		</div>
	</form>
</ng-template>