i.weekSelector {
    cursor: pointer;
    margin: 4px;
}
.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: baseline;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
}
i.fa-red {
    color: red;
    cursor: pointer;
    margin-left: 2%;
}
div {
    white-space: pre-line;
}
*.shadowed{
	box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.fa-solid {
    margin-right: 2%;
}
