<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col-md-8 shadowed bg-white p-4">
			<div class="row">
				<div class="col">
					<h2>News</h2>
				</div>
			</div>
			<div class="row align-itmes-center row-cols-sm-auto mb-2">
				<div class="col">
					<mat-form-field appearance="fill">
						<input 
						disabled
						matInput [matDatepicker]="picker" 
						placeholder="Datum auswählen"
						[defaultValue]="dateService.today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
						(dateChange) ="dateChange($event.value)"
						[value]="dateService.selectedDate"
						>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker disabled="false"></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col">
					<div class="row">
						<span>
							<i class="fa-solid fa-angle-left weekSelector" (click)="changeWeek('backward')"></i>
							<i class="fa-solid fa-angle-right weekSelector" (click)="changeWeek('forward')"></i>
						</span>
					</div>
					<div class="row">
						<small>KW:{{dateService.weekNumber}}</small> 
					</div>
				</div>
				<div class="col ms-auto">
					<button class="btn btn-outline-primary" (click)="openCreateNews()">Neuer Eintrag</button>
				</div>
			</div>
			<ng-container *ngIf="newsByDepartment?.get(0)?.length > 0">
				<div class="row">
					<h4>Allgemein</h4>
					<ul class="list-bullets">
						<li *ngFor="let news of newsByDepartment?.get(0)">
							{{news.text}}
							<i class="fa-solid fa-xmark fa-red" (click)="deleteNews(news.id)"></i>
						</li>
					</ul>
				</div>
			</ng-container>       
			<div class="row" *ngFor="let dep of departments">
				<ng-container *ngIf="newsByDepartment?.get(dep.id)?.length > 0">
					<h4>{{dep.name}}</h4>
					<ul class="list-bullets">
						<li *ngFor="let news of newsByDepartment?.get(dep.id)">
							{{news.text}}
							<i class="fa-solid fa-xmark fa-red" (click)="deleteNews(news.id)"></i>
						</li>
					</ul>
				</ng-container>       
			</div>
		</div>
		<div class="col-md-4 bg-white p-4">
			<div class="row">
				<h2>Zuständigkeiten</h2>
			</div>
			<div class="row">
				<div class="form-floating">
					<mat-form-field appearance="outline">
						<input type="text" #gemeinde name="gemeinde"  [(ngModel)]="gemeindeFilter" placeholder="Gemeinde" matInput [matAutocomplete]="auto"
						(ngModelChange)="filter(gemeindeFilter)"
						(focus)="filter('')">
						<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
							<mat-option *ngFor="let gemeinde of filteredGemeinden" [value]="gemeinde">
								{{gemeinde}}
							</mat-option>
						</mat-autocomplete>
						<mat-label><em class="fa-solid fa-users-rectangle"></em>Gemeinde</mat-label>
					</mat-form-field>
				</div>
				<ng-container *ngIf="filteredGemeinden.length > 0">
					<table>
						<tr>
							<th>Thema</th>
							<th>Zust. Person</th>
							<th>Stv.</th>
						</tr>
						<ng-container *ngFor="let resp of responsibilities">
							<tr *ngIf="resp.gemeinde == gemeindeFilter">
								<td>{{resp.thema}}</td>
								<td>{{resp.person}}</td>
								<td>{{resp.stellvertretung}}</td>
							</tr>
						</ng-container>
					</table>
				</ng-container>
			</div>
		</div>
	</div>   
</div>
<app-create #createNews (closeEmitter)="reloadData()"></app-create>