<ng-template #showDetailView let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="detailViewModal">Details</h4>
		<button type="button" class="close btn btn-light" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row detail-header">
			<div class="col-12">
				<h5> Allgemein</h5>
				<hr>
			</div>
		</div>
		<!-- <div *ngIf="project.currState=='acquisition'" class="row"> -->
		<div class="row">
			<div class="col-5">Akquisitionsnummer</div>
			<div class="col-7">{{project.acquisitionId}}</div>
		</div>
		<div *ngIf="project.currState!='acquisition'" class="row">
			<div class="col-5">Projektnummer</div>
			<div class="col-7">{{project.projectId}}</div>
		</div>
		<div class="row">
			<div class="col-5">Projektstatus</div>
			<div class="col-7">{{getProjectState(project.currState)}}</div>
		</div>
		<div class="row">
			<div class="col-5">Projektname</div>
			<div class="col-7">{{project.title}}</div>
		</div>
		<div class="row">
			<div class="col-5">Abteilung</div>
			<div class="col-7">{{project.costCenter.name}}</div>
		</div>
		<div *ngIf="project.currState=='acquisition'" class="row">
			<div class="col-5">Erfassungsdatum</div>
			<div class="col-7">{{project.creationDate | date:"dd.MM.yyyy"}}</div>
		</div>   
		<div *ngIf="project.currState=='acquisition' || project.currState =='done'" class="row">
			<div class="col-5">Offertenstatus</div>
			<div class="col-7">{{getOfferState(project.offerState)}}</div>
		</div> 
		<div *ngIf="project.currState=='planning'" class="row">
			<div class="col-5">Projektierungsdatum</div>
			<div class="col-7">{{project.planningStartDate | date:"dd.MM.yyyy"}}</div>
		</div> 
		<div *ngIf="project.currState=='planning'" class="row">
			<div class="col-5">geplantes Enddatum</div>
			<div class="col-7">{{project.estimatedDoneDate | date:"dd.MM.yyyy"}}</div>
		</div> 
		<div *ngIf="project.currState=='realisation'" class="row">
			<div class="col-5">Projektierungsdatum</div>
			<div class="col-7">{{project.realisationStartDate | date:"dd.MM.yyyy"}}</div>
		</div>
		<div *ngIf="project.currState=='done'" class="row">
			<div class="col-5">Abschlussdatum</div>
			<div class="col-7">{{project.doneDate | date:"dd.MM.yyyy"}}</div>
		</div>
		<div class="row">
			<div class="col-5">Gemeinde</div>
			<div class="col-7">{{project.township.name}}</div>
		</div>
		<!-- <div class="row">
			<div class="col-5">Planergemeinschaft</div>
			<div class="col-7">{{project.planningGroup}}</div>
		</div> -->
		<div *ngIf="project.currState!='realisation'" class="row">
			<div class="col-5">SIA-Phase</div>
			<div class="col-7">{{project.SIAphase}}</div>
		</div>
		<!-- <div *ngIf="project.currState!='acquisition'" class="row">
			<div class="col-5">Kompetenzen</div>
			<div class="col-5">
				<p *ngFor="let tag of effectiveTags">{{tag.name}}</p>
			</div>
		</div> -->
		<!-- <div *ngIf="project.currState=='acquisition'" class="row"> -->
		<div class="row">
			<div class="col-5">Fachgebiete</div>
			<div class="col-7">
				<div class="row" *ngFor="let tag of project.tags">
					<div class="col">{{tag?.name}}</div>
				</div>
			</div>
		</div>
		<div *ngIf="project.currState!='acquisition'" class="row">
			<div class="col-5">Tätigkeiten</div>
			<div class="col-7">
				<div class="row" *ngFor="let task of project.projectTasks">
					<div class="col">{{task.description}}</div>
				</div>
			</div>
		</div>
		<div *ngIf="project.currState=='done' && project.isReferenceTrainee" class="row">
			<div class="col-5">interne Weiterbildung</div>
			<div class="col-7">Ja</div>
		</div>
		<div *ngIf="project.currState=='done' && project.isReferenceWeb" class="row">
			<div class="col-5"> Referenzprojekt</div>
			<div class="col-7">Ja</div>
		</div>

		<div class="row">
			<div class="col-5">Kommentar</div>
			<div class="col-7">{{project.comment}}</div>
		</div>

		<div class="row detail-header">
			<div class="col-12">
				<h5>Auftraggeber</h5>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-5">AuftraggeberIn</div>
			<div class="col-7">
				<div class="row" *ngFor="let client of project.client">
					<div class="col" *ngIf="client.customer.companyName">{{client.customer.category.name}}: {{client.customer.companyName}} {{client.contact}} </div>
					<div class="col" *ngIf="client.customer.lastname">{{client.customer.category.name}}: {{client.customer.firstname}} {{client.customer.lastname}} {{client.contact}}</div>
				</div>
			</div>
		</div>
		<div *ngIf="project.company" class="row">
			<div class="col-5">beteiligte Stellen</div>
			<div class="col-7">
				<div class="row" *ngFor="let comp of project.company">
					<div class="col">{{comp.customer.category.name}}: {{comp.customer.companyName}}  {{comp.contact}} </div>
				</div>
			</div>
		</div>
		<div class="row detail-header">
			<div class="col-12">
				<h5>Zuständigkeiten</h5>	
				<hr>
			</div>
		</div>
		<div *ngIf="project.currState=='acquisition' && project.offerCreator" class="row">
			<div class="col-5">Interne Bearbeitung</div>
			<div class="col-7">{{getEmployeeName(project.offerCreator?.id)}}</div>
		</div>
		<div *ngIf="project.currState=='acquisition' && project.plannedManager" class="row">
			<div class="col-5">gepl. ProjektleiterIn</div>
			<div class="col-7">{{getEmployeeName(project.plannedManager?.id)}}</div>
		</div>
		<div *ngIf="project.currState=='acquisition' && project.plannedManagerDep" class="row">
			<div class="col-5">gepl. ProjektleiterIn Stv.</div>
			<div class="col-7">{{getEmployeeName(project.plannedManagerDep?.id)}}</div>
		</div>
		<div *ngIf="project.currState=='acquisition' && project.plannedForeman" class="row">
			<div class="col-5">gepl. BauleiterIn</div>
			<div class="col-7">{{getEmployeeName(project.plannedForeman?.id)}}</div>
		</div>
		<div *ngIf="project.currState=='acquisition' && project.plannedForemanDep" class="row">
			<div class="col-5">gepl. BauleiterIn</div>
			<div class="col-7">{{getEmployeeName(project.plannedForemanDep?.id)}}</div>
		</div>
		<div *ngIf="project.currState!='acquisition' && project.manager" class="row">
			<div class="col-5">ProjektleiterIn</div>
			<div class="col-7">{{getEmployeeName(project.manager.id)}}</div>
		</div>
		<div *ngIf="project.currState!='acquisition' && project.managerDep" class="row">
			<div class="col-5">ProjektleiterIn Stv.</div>
			<div class="col-7">{{getEmployeeName(project.managerDep.id)}}</div>
		</div>
		<div *ngIf="project.currState!='acquisition' && project.coReferent" class="row">
			<div class="col-5">KoreferentIn</div>
			<div class="col-7">{{getEmployeeName(project.coReferent.id)}}</div>
		</div>
		<div *ngIf="project.currState=='realisation' && project.foreman" class="row">
			<div class="col-5">BauleiterIn</div>
			<div class="col-7">{{getEmployeeName(project.foreman.id)}}</div>
		</div>
		<div *ngIf="project.currState=='realisation' && project.foremanDep" class="row">
			<div class="col-5">BauleiterIn Stv.</div>
			<div class="col-7">{{getEmployeeName(project.foremanDep.id)}}</div>
		</div>
		<!-- <ng-container *ngIf="user.role.id !=3" class="budget-container"> -->
		<ng-container class="budget-container">
			<div class="row detail-header">
				<div class="col-12">
					<h5>Budget</h5>
					<hr>
				</div>
			</div>
			<div *ngIf="project.currState=='acquisition'" class="row">
				<div class="col-5">Erwartete Kosten</div>
				<div class="col-7">{{project.estimatedCosts| currency:'CHF'	}}</div>
			</div>
			<div *ngIf="project.currState=='acquisition'" class="row">
				<div class="col-5">Akzeptierte Kosten</div>
				<div class="col-7">{{project.acceptedCosts | currency:'CHF' }}</div>
			</div>
			<div *ngIf="project.currState!='acquisition'" class="row">
				<div class="col-5">Honorarsumme</div>
				<div class="col-7">{{project.effectiveCosts | currency:'CHF'}}</div>
			</div>
			<div *ngIf="project.currState!='acquisition' && additionalCosts && additionalCosts.length > 0" class="row">
				<div class="col-5">Nachträge</div>
				<div class="col-7">
					<div class="row" *ngFor="let cost of additionalCosts">
						<div class="col">
							{{cost.creationDate | date:"dd.MM.yyyy"}}: {{cost.description}} - {{cost.costs | currency:'CHF'}}
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="modal-footer">
		<div class="col">
			<ng-container *ngIf="changeAllowed">
				<button class="btn btn-primary btn-sm mr-3" (click)="changeProject(project.currState, project.id)">anpassen</button>
			</ng-container>
			<button type="button" class = "btn btn-sm btn-secondary" (click)="downloadExcel(project.id)">Excel herunterladen</button>
		</div>
		<div class="col-4"></div>				

	</div>
</ng-template>
