td.absence-plan{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color:white;
    font-family: monospace;
	 font-size: 0;
}
td.weekdayNr-6, td.weekdayNr-0 { 
	background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0);
}
th {
	border-right: white solid 1px;
    padding-right: 0px
}
th.today {
    background-color: grey;
}
td.absence-type-1, td.absence-type-11{ /* vacation */
	// background-color: #ffa500;
    color:black;
}

td.absence-type-3, td.absence-type-13 {
	// background-color: #0000ff;
    color:white;
}

td.absence-open {
    background-image: repeating-linear-gradient(135deg,transparent 0 8%, black 8% 16%);
}
i.weekSelector {
    cursor: pointer;
    margin: 4px;
}
i.legend-grey { /* Holiday */
    color: rgb(90, 90, 90)
}
i.transparent{ /* is only used for sizing*/
    opacity: 0;
}
span.legend-gradient { /*offen*/
    background-image: repeating-linear-gradient(135deg,transparent 0 10%, black 10% 20%);
}
td.td-name {
    text-transform: uppercase;
}
div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1002;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100vw;
	height: 1000vh;
}