<div class="container-fluid shadow-lg bg-white rounded p-4">
	<div class="row">
		<div class="col">
			<h2>Abwesenheitsplan</h2>
		</div>
	</div>
	<div class="row align-times-center row-cols-sm-auto mb-2">
		<div class="col">
			<mat-form-field appearance="fill">
				<input 
				disabled
				matInput [matDatepicker]="picker" 
				placeholder="Datum auswählen"
				[defaultValue]="dateService.today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
				(dateChange) ="dateChange($event.value)"
				[value]="dateService.selectedDate"
				>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker disabled="false"></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="col">
			<div class="row">
				<span>
					<i class="fa-solid fa-angle-left weekSelector" (click)="changeMonth('backward')"></i>
					<i class="fa-solid fa-angle-right weekSelector" (click)="changeMonth('forward')"></i>
				</span>
			</div>
			<div class="row">
				<small>KW:{{dateService.weekNumber}}</small> 
			</div>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="depFilter" (change)="loadData()">
				<option selected [ngValue]="0" >Alle Abteilungen</option>
				<option *ngFor='let dep of departments' [ngValue]="dep.id">{{dep.name}}</option>
			</select>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="locFilter" (change)="loadData()">
				<option selected [ngValue]="0">Alle Standorte</option>
				<option *ngFor='let loc of locations' [ngValue]="loc.id">{{loc.name}}</option>
			</select>
		</div>
		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="openModalRequest()">Abwesenheit beantragen</button>
		</div>
		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="exportExcel()">Download Excel</button>
		</div>
	</div>
	<div class="row mb-1">
		<div class="row">
			<div class="col-1">
				<span><span class="legend-gradient"><i class="fa fa-border fa-lg transparent"></i></span>Offen</span>
			</div>
			<div class="col-1">
				<span><i class="fa-solid fa-square fa-lg legend-grey"></i>Feiertag</span>
			</div>		
		</div>
		<div class="row">
			<div class="col-1" *ngFor="let absenceType of allAbsenceTypes">
				<span><i [style.color]="absenceType.color" class="fa-solid fa-square fa-lg"></i>{{absenceType.type}}</span>

			</div>
		</div>
		<!-- <div class="col-1">
			<div class="row">
			</div>
			<div class="row">
				<span><i class="fa-solid fa-square fa-lg legend-blue"></i>Schule</span>
			</div>
		</div>
		<div class="col-1">
			<div class="row">
				<span><i class="fa-solid fa-square fa-lg legend-red"></i>Krank</span>
			</div>
			<div class="row">
				<span><i class="fa-solid fa-square fa-lg legend-green"></i>Militär</span>
			</div>
		</div> -->
		<!-- <div class="col-1">
			<div class="row">
				<span><span class="legend-gradient"><i class="fa fa-border fa-lg transparent"></i></span>Offen</span>
			</div>
			<div class="row">
				<span><i class="fa-solid fa-square fa-lg legend-grey"></i>Feiertag</span>
			</div>
		</div> -->
	</div>
	<table class="table table-sm table-responsive" id="absences-table">
		<thead class="table-dark">
			<tr>
				<td rowspan="1"></td>
				<ng-container *ngFor="let month of daysPerMonth">
					<th [attr.colspan]="month.days">{{month.name}}</th>
					<!-- <th [attr.colspan]="month.days">m</th> -->
					
				</ng-container>
			</tr>
			<tr>
				<td rowspan="1" style="font-weight:bold"></td>
				<ng-container *ngFor="let week of daysPerWeek">
					<th [ngClass]="['week',dateService.thisWeek==week.weekNumber?'today':'']" [attr.colspan]="week.days">{{week.days>=3?'KW:'+week.weekNumber:week.weekNumber}}</th>
				</ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees" >
				<ng-container *ngIf="(!depFilter || (depFilter && employee.department.id === depFilter)) &&
				(!locFilter || (locFilter && employee.workplace === locFilter))">
				<td [style.background-color]="employee.department.color" class="td-name">{{employee.username}}</td>
				<ng-container *ngFor="let d of absenceByEmployee.get(employee.id);let i = index">
					<ng-container *ngIf="d!==0;else noAbsence">
						<td [style.background-color]="d.absence.color" [ngClass]="['absence-plan', '#'+d.absence.color+'#', 'weekdayNr-'+(i+startDay) % 7, d.open ?'absence-open':'']">
							{{d.absence!=noAbsence ?ABSENCE_TYPE_NUMBER[d.absence.id]:''}}
						</td>
					</ng-container>
					<ng-template #noAbsence>
						<td [ngClass]="['absence-plan','weekdayNr-'+(i+startDay) % 7]"></td>
					</ng-template>

				</ng-container>
			</ng-container>
		</tr>
		</tbody>
	</table>
</div>
	<div class="overlay" *ngIf="showExcelSpinner">
	  <div class="spinner-wrapper">
		<mat-spinner style="position: absolute;left: 45vw; top:45vh;z-index: 1003;"></mat-spinner>
	  </div>
	</div>
<app-request-absence #requestAbsenceModal (closeEmitter)="getAbsences()"></app-request-absence>
