<div id="ol-map" (resized)="resized()">
	<app-address-search (searchResultClickedEmitter)="handleSearchResultClicked($any($event))"></app-address-search>
	<div class="ol-control ol-unselectable" id="reset-view">
		<!-- <button class="" type="button">A</button> -->
		<button class="reset-view" type="button" (click)="setDefaultView()">
			<img class="reset-view" src="../../../../assets/images/reset-search-white.svg">
		</button>
		<!-- <button class="btn btn-secondary btn-sm" (click)="setDefaultView()">Reset Zoom</button> -->
	</div>	
</div>

<div id="popup"  [ngClass]="['ol-popup', popupOpen?'':'hidden']">
	<span id="popup-closer"  class="ol-popup-closer" (click)="closePopUp()"></span>
	<div id="popup-content">
		
		<h5>Verfügbare Projekte</h5>
		<ng-container *ngFor="let project of clickedProjects">
			<p class="projectClick"(click)="popUpClick(project)">{{project?.title}}</p>
		</ng-container>
	</div>
</div>