
app-dashboard :host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

app-projectOverview :host {
	display: flex;
	flex-direction: column;
	height: 90vh;
}

header {
	background-color: var(--header-color);
	padding: 2em;
}
header .title {
	font-size: 28px;
}
main {
	display: flex;
	flex-grow: 1;
}
.left-bar {
	width: 20em;
	background-color: var(--sidebar-color);
}
.map-container {
	flex-grow: 1;
}
footer {
	background-color: var(--header-color);
	padding: 1em;
}
.ol-popup {
	position: absolute;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
 }
 div#popup.hidden {
	 display: none
 }
 .ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
 }
 .ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
 }
 .ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
 }
 .ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
 }
 .ol-popup-closer:after {
	content: "✖";
 }
 p.projectClick:hover {
	 font-weight: bold;
	 cursor: pointer;
 }
 div#ol-map {
	height:100%;
	width:100%;
	position: relative;
 }
 div#reset-view{
	top:60px;
	left: .5rem;
	z-index: 1000;
 }
 em.reset-view{
	cursor: pointer;
 }
 img.reset-view {
	height: 20px;
	width: 20px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
 }