<h2>Wochenplan KW:{{weekNumber}}</h2>
<div id="printcontainer" class="row" >
	<div class="col table-responsive-lg" >
		<table class="table table-striped table-hover table-sm w-auto">
			<thead class="table-dark">
				<tr>
					<th>Name</th>                        
					<th *ngFor='let date of dates'>{{date.toLocaleDateString('de-CH',{'weekday':'short','day':'2-digit','month':'2-digit','year':'2-digit'})}}</th> 
				</tr>
			</thead>
			<tbody>
				<tr *ngFor ='let employee of employees'>
					<ng-container *ngIf="(!depFilter || (depFilter && employee.department.id == depFilter)) &&
					(!locFilter || (locFilter && employee.workplace == locFilter))">
					<td [ngClass]="'dep-'+(employee.department.id)" class="td-name">
						{{employee.username}}
					</td>
					<ng-container *ngFor='let da of dates; let i = index'>
						<ng-container *ngIf="absenceByEmployee.get(employee.id)?.get(da);then gotAbsence;else noAbsence">

						</ng-container>
						<ng-template #gotAbsence>
							<td [ngClass]="['absence-'+absenceByEmployee.get(employee.id).get(da),holidays[i]?'holiday':'']">
								<!-- <i *ngIf="employee.birthday.substring(5) == da.toLocaleDateString('en-CA').substring(5)" class="fa-solid fa-cake-candles"> </i> -->
								<i *ngIf="(employee.birthday | date:'dd-MM') == (da | date:'dd-MM')" class="fa-solid fa-cake-candles"> </i>

								{{absenceByEmployee.get(employee.id).get(da)}}
							</td>
						</ng-template>
						<ng-template #noAbsence>

							<td class="dark-hover"[ngClass]="taskList.get(employee.username)[i]?.homeOffice?'homeOffice' : ''" >
								{{(taskList.get(employee.username)[i])?.name}} {{taskList.get(employee.username)[i]?.description}}
								<ng-container *ngIf="fieldTaskMap?.get(da | date:'yyyy-MM-dd')?.get(employee.username)">
									<ng-container *ngFor="let task of fieldTaskMap.get(da | date:'yyyy-MM-dd').get(employee.username)">
										<div class="col ml-1">
											{{cleanLists()}}
											<div class="row font-weight-bold">
												<div class="col-auto">
													{{task.time == 'morning' ? "VM: " : task.time == 'afternoon' ? "NM: " : task.time =='night' ? 'NE: ' :''}}{{task.orderDescription}}
												</div>
											</div>
											<div class="row">
												<div class="col-auto">
													{{getLocation(task.location).name}}
												</div>
												<div class="col-auto">
													<ng-container *ngIf="selectedEmployees?.get(task.id)?.length>0">
														<ng-container *ngIf="employee.id != task.operator">{{addToList(getEmployee(task.operator).username,'employee')}}</ng-container>
														<ng-container  *ngFor="let emp of selectedEmployees.get(task.id);last as isLast">
															<ng-container *ngIf="employee.username != emp.username">
																{{addToList(emp.username,'employee')}}
															</ng-container>
															<ng-container *ngIf="isLast">{{employeeList}}</ng-container>
														</ng-container>
													</ng-container>
												</div>
											</div>	
											<!-- <div class="row">
												<ng-container *ngIf="selectedEmployees?.get(task.id)?.length>0">
													<ng-container *ngIf="employee.id != task.operator">{{addToList(getEmployee(task.operator).username,'employee')}}</ng-container>
													<ng-container  *ngFor="let emp of selectedEmployees.get(task.id);last as isLast">
														<ng-container *ngIf="employee.username != emp.username">
															{{addToList(emp.username,'employee')}}
														</ng-container>
														<ng-container *ngIf="isLast">{{employeeList}}</ng-container>
													</ng-container>
												</ng-container>
											</div> -->
											<div class="row">
												<div class="col-auto">
													<ng-container *ngIf="selectedTachys.get(task.id)?.length>0">
														<ng-container *ngFor="let tachy of selectedTachys.get(task.id);last as isLast">
															{{addToList(tachy.abbreviation,'tachy')}}
															<ng-container *ngIf="isLast">{{tachyList}}</ng-container>
														</ng-container>
													</ng-container>
												</div>
												<div class="col-auto">
													<ng-container *ngIf="selectedGnss.get(task.id)?.length>0">
														<ng-container  *ngFor="let gnss of selectedGnss.get(task.id);last as isLast">
															{{addToList(gnss.abbreviation,'gnss')}}
															<ng-container *ngIf="isLast">{{gnssList}}</ng-container>
														</ng-container>
													</ng-container>
												</div>	
												<div class="col-auto">
													<ng-container *ngIf="selectedCars.get(task.id)?.length>0">
														<ng-container  *ngFor="let car of selectedCars.get(task.id);last as isLast">
															{{addToList(car.abbreviation,'car')}}
															<ng-container *ngIf="isLast">{{carList}}</ng-container>
														</ng-container >
													</ng-container>												
												</div>

											</div>

											
										</div>
									</ng-container>
								</ng-container>
							</td>    
						</ng-template>

					</ng-container>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>
