td.td-name {
	text-transform: uppercase;
}
th.th-today {
	background-color: grey;
}
td.homeOffice {
	background-color: yellow;
}
.clickable {
	cursor: pointer;
}
div.font-weight-bold {
	font-weight: bold;
}

/* @media only screen and (max-width: 768px) {
	div.form {
		 height: 100%;
		 width: 100%;
	}
}
div.form {
	position: absolute;
	top: 10vh;
	left: 50vw;
	transform: translateX(-50%);
	border: black;
	border-radius: 2%;
	background-color: rgba(182, 181, 181);
} */