.search {
	position: absolute;
	top: 20px;
	right: 10px;
	/* transform: translateX(-35%); */
	/* width: 35%; */
	z-index: 1000;
 }
 #geocode-input,
 #geocode-button {
	font-size: 16px;
	margin: 0 2px 0 0;
	padding: 4px 8px;
 }
p.projectClick {
	 margin-bottom: 0;
 }
 div.result-container {
	overflow-y: scroll;
	height: 500px;
 }

 div.searchResult {
	padding: 0.5rem;
	border-bottom: black solid 1px;
	background-color: white
}
 div.searchResult:hover{
	background-color: rgb(199, 193, 193);
 }