<div class="search">
	<input id="geocode-input" [(ngModel)]="searchText" type="text" placeholder="Adresse"  (keyup)="searchAdress()"/>
	<!-- <button id="geocode-button" (click)="searchAdress()">Suchen</button> -->
	<div class="result-container" *ngIf="searchResult.length > 0">
		<div *ngFor="let result of searchResult" class="searchResult" (click)="fitViewToSearchResult(result.bbox)">
			<span class="result-title">
				<span [innerHtml]="result.properties['label']"></span><br>
				<span class="small">{{getOrigin(result.properties['origin'])}}</span>
			</span>
		</div>
	</div>
</div>