<ng-template #createProject let-c="close" let-d="dismiss">
	<form [formGroup]="createProjectForm"  class="modal-content form-group" name="createProjectForm" (ngSubmit)="createProjectInstance()">
		<div class="modal-header">
			<h4 class="modal-title" id="showTaskModalTitle" *ngIf="openedProject; else newProject">{{openedProject.title}}</h4>
			<ng-template #newProject>
				<h4 class="modal-title" id="showTaskModalTitle">Auftrag erfassen</h4>
			</ng-template>
			<button type="button" class="close btn btn-light" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" id="createProjectModal">
			<div class="col form-group form">
				<div class="accordion" id="accordionCreateProject">
					
					<div class="card">
							<a class="btn btn-light" 
							[ngClass]="createProjectForm.controls['title'].valid &&
							createProjectForm.controls['township'].valid && 
							createProjectForm.controls['costCenter'].valid?'':'invalid-card'" 
							data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
								<div class="card-header" id="headingGeneral">
									<h4 class="mb-0">
										<em class="fa-solid fa-box"></em> Auftrag allgemein
									</h4>
								</div>
							</a>
							<div id="collapseGeneral" class="collapse show" aria-labelledby="headingGeneral" data-parent="#accordionCreateProject">
								<div class="card-body">
									
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder=" " name="" id="acquisitionId" formControlName="acquisitionId" >
												<label class="form-label" for="acquisitionId">Akquisitionsnummer</label>
											</div>
										</div>
										<div class="col-sm-12 col-md-8">
											<div class="form-floating">
												<input type="text" [ngClass]="createProjectForm.controls['title'].valid?'':'invalid'" class="form-control" placeholder=" " name="title" id="title" formControlName="title">
												<label class="form-label" for="title">Projektbezeichnung</label>
											</div>
										</div>
									</div>
									
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4">
											<!-- <div class="form-floating">
												<select class="form-select" type="text" name="costCenter" id="costCenter" formControlName="costCenter">
													<option value="" selected hidden disabled>Abteilung wählen...</option>
													<option *ngFor="let cc of costCenters" [ngValue]="cc">{{cc.name}}</option>
												</select>
												<label class="form-label" for="costCenter">Abteilung (Kostenstelle)</label>
											</div> -->
											<mat-form-field appearance="outline">
												<input type="text"
													name="costCenter"
													placeholder="Kostenstelle"
													matInput
													formControlName="costCenter"
													required
													[matAutocomplete]="autoCostCenter">
												<mat-autocomplete #autoCostCenter="matAutocomplete" [displayWith]="displayCostCenter">
													<mat-option *ngFor="let c of filteredCostCenter | async" [value]="c">
														{{c.name}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>Kostenstelle</mat-label>
											</mat-form-field>
										</div>
										<div class="col-sm-12 col-md-4">
											<!-- <div class="form-floating">
												<input type="text" class="form-control" placeholder=" " name="township" id="township" formControlName="township" >
												<label class="form-label" for="township">Gemeinde</label>
											</div> -->
											<mat-form-field appearance="outline">
												<input type="text"
													name="township"
													placeholder="Gemeinde"
													matInput
													formControlName="township"
													[matAutocomplete]="autoTownship">
												<mat-autocomplete #autoTownship="matAutocomplete" [displayWith]="displayTownship">
													<mat-option *ngFor="let t of filteredTownship | async" [value]="t">
														{{t.name}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>Gemeinde</mat-label>
											</mat-form-field>
										</div>
										<div class="col-sm">
											<div class="form-floating">
												<input type="date" class="form-control" placeholder=" " name="estimatedDoneDate" id="estimatedDoneDate" formControlName="estimatedDoneDate">
												<label class="form-label" for="estimatedDoneDate">Enddatum</label>
											</div>
										</div>
									</div>
									
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4">
												<mat-form-field appearance="outline">
													<input type="text"
														name="offerCreator"
														placeholder="Mitarbeiter"
														matInput
														formControlName="offerCreator"
														[matAutocomplete]="autoCreator">
													<mat-autocomplete #autoCreator="matAutocomplete" [displayWith]="displayEmployee">
														<mat-option *ngFor="let emp of filteredCreators | async" [value]="emp">
															{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
														</mat-option>
													</mat-autocomplete>
													<mat-label><em class="fa fa-user"></em>Interne Bearbeitung der Offerte</mat-label>
												</mat-form-field>
											<!-- </div> -->
										</div>
										<div class="col-sm-12 col-md-4">
											<div class="form-floating">
												<select class="form-select" type="text" name="offerState" id="offerState" formControlName="offerState">
													<option *ngFor="let state of offerStateEnum | keyvalue" [ngValue]="state.key.toString()">{{state.value}}</option>
												</select>
												<label class="form-label" for="offerState">Status der Offerte</label>
											</div>
										</div>
										<div class="col-sm-12 col-md-4">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder=" " name="SIAphase" id="SIAphase" formControlName="SIAphase" >
												<label class="form-label" for="SIAphase">SIA-Phase</label>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<!-- <div class="col-auto" style="padding-right: 0; text-align: right; align-self: center">
											<span>CHF</span>
										</div> -->
										<div class="col-4">
											<div class="form-floating">
												<input  min="0" class="form-control" placeholder=" " name="estimatedCosts" id="estimatedCosts" formControlName="estimatedCosts"
												(blur)="formatCurrency($event)">
												<label class="form-label" for="estimatedCosts">Eingabesumme</label>
											</div>
										</div>
										<!-- <div class="col-auto" style="padding-right: 0; text-align: right; align-self: center">
											<span>CHF</span>
										</div> -->
										<div class="col-4">
											<div class="form-floating">
												<input min="0" class="form-control" placeholder=" " name="acceptedCosts" id="acceptedCosts" formControlName="acceptedCosts"
												(blur)="formatCurrency($event)">
												<label class="form-label" for="acceptedCosts">mutmassliches Honorar</label>
											</div>
										</div>
										<!-- <div class="col-4">
											<div class="form-floating">
												<input [ngClass]="createProjectForm.controls['saveLocation'].valid?'':'invalid'"  class="form-control" placeholder=" " name="saveLocation" formControlName="saveLocation">
												<label class="form-label" for="saveLocation">Serverpfad</label>
											</div>
										</div> -->
									</div>									
									<div class="row mb-3">
										<div class="col-sm">
											<div class="form-floating">
												<textarea type="text" class="form-control" name="comment" id="comment" formControlName="comment" placeholder=" "></textarea>
												<label class="form-label" for="comment">Kommentar zum Projekt</label>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					
					<div class="card">
						<a class="btn btn-light" data-toggle="collapse" data-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
							<div class="card-header" id="headingTags">
								<h4 class="mb-0">
									<em class="fa-solid fa-tags"></em> Fachgebiete
								</h4>
							</div>
						</a>
						<div id="collapseTags" class="collapse" aria-labelledby="headingTags" data-parent="#accordionCreateProject">
							<div class="card-body tags">		
								<div class="row mb-3">
									<div class="col col-6">
										<h5>verfügbare Fachgebiete</h5>
										<div class="input-group tagSearch">
											<div class="input-group-text"><em class="fa fa-search"></em></div>
											<input type="text" class="form-control" placeholder="Tag Suchen" id="inpTagSearch" (keyup)="tagFilter($event)">
										</div>
										<div class="row">
											<div class="col">
												<table class="table">
													<tbody>													
														<tr *ngFor="let tag of filteredTags">
															<td>{{tag.name}}</td>
															<td><span (click)="addProjectTag(tag)" class="badge bg-primary rounded-pill">+</span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-6">
										<h5>ausgewählte Fachgebiete</h5>
										<div class="row">
											<div class="col">
												<table class="table">
													<tbody>
														<tr *ngFor="let tag of selectedTags">
															<td>{{tag.name}}</td>
															<td><span (click)="removeProjectTag(tag)" class="badge bg-primary rounded-pill">-</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
					<div class="card">
						<a  id="geoLocation" [ngClass]="geometryArray.length > 0?'':'invalid-card'" class="btn btn-light" data-toggle="collapse" data-target="#collapseGeolocation" aria-expanded="false" aria-controls="collapseGeolocation" (click)="createMap()">
							<div class="card-header" id="headingGeolocation">
								<h4 class="mb-0">
									<em class="fa-solid fa-location-crosshairs"></em> Geolocation
								</h4>
							</div>
						</a>
						<div id="collapseGeolocation" class="collapse" aria-labelledby="headingGeolocation" data-parent="#accordionCreateProject">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="col">
												<input type="radio" name="geometryType" id="polygon" [(ngModel)]="geometryType" value="Polygon" [ngModelOptions]="{standalone: true}" (change)="geometryTypeChange()">
												<label for="polygon">Polygon </label>
											</div>
										</div>
										<div class="row">	
											<div class="col">
												<input type="radio" name="geometryType" id="lineString" [(ngModel)]="geometryType" value="LineString" [ngModelOptions]="{standalone: true}" (change)="geometryTypeChange()">
												<label for="lineString">Linie </label>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<input type="radio" name="geometryType" id="township" [(ngModel)]="geometryType" value="Township" [ngModelOptions]="{standalone:true}" (change)="geometryTypeChange()">
												<label for="township">Gemeinde </label>
											</div>
										</div>
									</div>
									<div class="col pb-2">
										<div class="row mb-2">
											<div class="col">
												<button class="btn btn-danger btn-sm" type="button" (click)="removeArea()">löschen</button>
											</div>

										</div>
										<div class="row">
											<div class="col">
												<button class="btn btn-primary btn-sm" type="button" (click)="addTownships()">Alle Gemeinden</button>
											</div>
										</div>
									</div>
									<div class="col-3">
										<ng-container *ngIf="townshipHover && geometryType == 'Township'">
											<span>Gemeinde: {{townshipHover}}</span>
										</ng-container>
									</div>
									<div class="col-4">
										<div class="row map-tooltip">
											Hilfe
											<span class="tooltiptext">
												<ul>
													<li>Rechtsklick während dem Zeichnen löscht den letzten erfassten Punkt</li>
													<li>Zeichnen mit gedrückter Shift-Taste erlaubt Freihandzeichnung</li>
													<li>Gemeinden können über die Auswahlart <i>Gemeinde</i> ausgewählt werden wobei eine Mehrfachauswahl möglich ist</li>
												</ul>												
											</span>
										</div>
									</div>
								</div>
								<div class="row">

								</div>
								<div id="map">
									<app-address-search (searchResultClickedEmitter)="handleSearchResultClicked($any($event))"></app-address-search>
								</div>
							</div>
						</div>
					</div>					
					<div class="card">
						<a [ngClass]="projectCustomers.length >0?'':'invalid-card'" class="btn btn-light" data-toggle="collapse" data-target="#collapseCustomer" aria-expanded="false" aria-controls="collapseCustomer">
							<div class="card-header" id="headingCustomer">
								<h4 class="mb-0">
									<em class="fa-solid fa-user-tie"></em> Auftraggeber
								</h4>
							</div>
						</a>
						<div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer" data-parent="#accordionCreateProject">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-4">
										<mat-form-field appearance="outline">
											<input type="text"
												name="customer"
												id="customerAuto"
												placeholder="Auftraggeber"
												matInput
												formControlName="customer"
												
												[matAutocomplete]="autoCustomer">
											<mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="selectedCustomer($event.option.value)">
												<mat-option *ngFor="let client of filteredCustomers | async" [value]="client">
													<ng-container *ngIf="client.category.name == 'Private' || client.category.name == 'Intern';else noPerson">
														{{client.firstname}} {{client.lastname}}, ({{client.category.name}})
													</ng-container>
													<ng-template #noPerson>
														{{client.companyName}} ({{client.category.name}})
													</ng-template>
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>Interne Bearbeitung der Offerte</mat-label>
										</mat-form-field>

									</div>
									<div id="addCustomerClientFormBtn-Wrapper" class="col-4" style="align-self: center;">
										<button type="button" class="btn btn-success btn-outlined" (click)="setCustomerFormVisibility(true)">
											<em class="fa-solid fa-user-plus"></em>  Neue(r) AuftraggeberIn erstellen
										</button>
									</div>
									<div class="col-3"></div>
									<div *ngIf="showCustomerForm" class="col-1 float-right">
										<em class="fa-solid fa-times" (click)="setCustomerFormVisibility(false)"></em>
									</div>
									
								</div>
								<table class="table">
									<thead>
										<tr>
											<th scope="col-2">Kundenart</th>
											<th scope="col-3">Kunde</th>
											<th scope="col-3">Kontaktangabe</th>
											<th scope="col-2">Speichern</th>
											<th scope="col-2">Entfernen</th>
										</tr>
									</thead>
									<tbody>
										<ng-container *ngFor="let customer of selectedCustomers;let i = index;last as isLast">
											<tr>
												<td>
													<div class="form-floating">
														<input class="form-control" type="text" id="category-{{customer.id}}" value="{{customer.category.name}}" placeholder=" " readonly>
														<label for="name-{{customer.id}}" class="form-label">Kundenart</label>
													</div>
												</td>
												<td *ngIf="(customer.category.name =='Private' || customer.category.name == 'Intern');else noPersonSelect">
													<div class="form-floating">
														<input class="form-control" type="text" id="name-{{customer.id}}" value="{{customer.firstname}} {{customer.lastname}}" placeholder=" " readonly>
														<label for="name-{{customer.id}}" class="form-label">Kundenname</label>
													</div>
												</td>
												<ng-template #noPersonSelect>
													<td>
														<div class="form-floating">
															<input class="form-control" type="text" id="name-{{customer.id}}" value="{{customer.companyName}}" placeholder=" " readonly>
															<label for="name-{{customer.id}}" class="form-label">Firmenname</label>
														</div>
													</td>
												</ng-template>
												<td>
													<div class="form-floating">
														<input *ngIf="openedProject" class="form-control" type="text" id="contact-{{customer.id}}" name="customerContact" placeholder=" " value="{{getCustomerContact(customer.id)}}">
														<input *ngIf="!openedProject" class="form-control" type="text" id="contact-{{customer.id}}" name="customerContact" placeholder=" ">
														<label for="contact-{{customer.id}}" class="form-label">Kontaktangabe</label>
													</div>
												</td>
												<td>
													<button type="button" class="btn btn-outline-success" (click)="saveProjectCustomer(customer)">Speichern</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger" (click)="removeSelectedCustomer(i)">Entfernen</button>
												</td>
											</tr>
										</ng-container>
									</tbody>
								</table>

								<form *ngIf="showCustomerForm" [formGroup]="createCustomerForm" class="form-group" name="createCustomerForm" (ngSubmit)="createCustomer()">
									<div class="row mb-3">
										<div class="col-3">
											<div class="form-floating">
												<select class="form-select" type="text" name="category" id="category" formControlName="category" (change)="customerClientTypeChange($event)">
													<option *ngFor="let category of customerCategories" [value]="category.name">{{category.name}}</option>
												</select>
												<label class="form-label" for="category">Auftraggeberkategorie</label>
											</div>
										</div>
										<ng-container *ngIf="personForm">
											<div class="col-2">
												<div class="form-floating">
													<select class="form-select" type="text" name="title" id="title" formControlName="title">
														<option value="miss">Frau</option>
														<option value="mister">Herr</option>
													</select>
													<label class="form-label">Anrede</label>
												</div>
											</div>
											<div class="col-3">
												<div class="form-floating">
													<input type="text" class="form-control" placeholder=" " name="firstname" id="firstname" formControlName="firstname">
													<label class="form-label" for="firstname">Vorname</label>
												</div>
											</div>
											<div class="col-4">
												<div class="form-floating">
													<input type="text" class="form-control" placeholder=" " name="lastname" id="lastname" formControlName="lastname">
													<label class="form-label" for="lastname">Nachname</label>
												</div>
											</div>
										</ng-container>
										<ng-container *ngIf="!personForm">
											<div class="col-8">
												<div class="form-floating">
													<input type="text" class="form-control" placeholder=" " id="companyName" formControlName="companyName">
													<label class="form-label" for="compannyName">Firmenname</label>
												</div>
											</div>
										</ng-container>
									</div>
									<div class="row mb-3" *ngIf="personForm">
										<div class="col-6">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder=" " id="email" formControlName="email">
												<label for="email">E-Mail</label>
											</div>
										</div>
										<div class="col-6">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder=" " id="phone" formControlName="phone">
												<label class="form-label" for="phone">Telefonnummer</label>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-5">
											<div class="form-floating">
												<input type="text" class="form-control" id="street" formControlName="street" placeholder=" ">
												<label class="form-label" for="street">Strasse u. Nummer</label>
											</div>
										</div>
										<div class="col-3">
											<div class="form-floating">
												<input type="number" class="form-control" id="zip" formControlName="zip"placeholder=" ">
												<label class="form-label" for="zip">Postleitzahl</label>
											</div>
										</div>
										<div class="col-4">
											<div class="form-floating">
												<input type="text" class="form-control" id="city" formControlName="city"placeholder=" ">
												<label for="city" class="form-label">Stadt</label>
											</div>
										</div>
									</div>
									<p class="mb-0">
										<button type="submit" [ngClass]="createCustomerForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createCustomerForm.valid">AuftraggeberIn speichern</button>
									</p>
								</form>	
								<hr>
								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<div class="form-floating">
											<select class="form-select" type="text" name="company" id="company"  (change)="selectedCompany($event)">
												<option value="" default selected hidden>beteiligte Stellen wählen</option>
												<ng-container *ngFor="let customer of customers">
													<option *ngIf="(customer.category.name != 'Private' && customer.category.name != 'Intern');" value="{{customer.id}}">{{customer.companyName}} {{customer.category.name}}
													</option>
												</ng-container>
											</select>
											<label class="form-label" for="client">Beteiligte Stellen</label>
										</div>
									</div>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th scope="col-2">Kundenart</th>
											<th scope="col-3">Kunde</th>
											<th scope="col-3">Kontaktangabe</th>
											<th scope="col-2">Speichern</th>
											<th scope="col-2">Entfernen</th>
										</tr>
									</thead>
									<tbody>
										<ng-container *ngFor="let company of selectedCompanies;let i = index;last as isLast">
											<tr>

												<td>
													<div class="form-floating">
														<input class="form-control" type="text" id="category-{{company.id}}" value="{{company.category.name}}" placeholder=" " readonly>
														<label for="category-{{company.id}}" class="form-label">Kundenart</label>
													</div>
												</td>
												<td>
													<div class="form-floating">
														<input class="form-control" type="text" id="name-{{company.id}}" value="{{company.companyName}}" placeholder=" " readonly>
														<label for="name-{{company.id}}" class="form-label">Firmenname</label>
													</div>
												</td>
												<td>
													<div class="form-floating">
														<input *ngIf="openedProject" class="form-control" type="text" id="companyContact-{{company.id}}" name="companyContact" placeholder=" " value="{{getCustomerCompanyContact(company.id)}}">
														<input *ngIf="!openedProject" class="form-control" type="text" id="companyContact-{{company.id}}" name="companyContact" placeholder=" ">
														<label for="companyContact-{{company.id}}" class="form-label">Kontaktangabe</label>
													</div>
												</td>
												<td>
													<button type="button" class="btn btn-outline-success" (click)="saveProjectCompanyCustomer(company)">Speichern</button>
												</td>
												<td>
													<button type="button" class="btn btn-outline-danger" (click)="removeSelectedCompany(i)">Entfernen</button>
												</td>
											</tr>
										</ng-container>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card">
							<a  [ngClass]="createProjectForm.controls['plannedManager'].valid?'':'invalid-card'" class="btn btn-light" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="false" aria-controls="collapsePeople">
								<div class="card-header" id="headingPeople">
									<h4 class="mb-0">
										<em class="fa-solid fa-users"></em> Personen
									</h4>
								</div>
							</a>
							<div id="collapsePeople" class="collapse" aria-labelledby="headingPeople" data-parent="#accordionCreateProject">
								<div class="card-body">
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4 offset-md-2 text-center"><h5><b>Projektleitung</b></h5></div>
										<div class="col-sm-12 col-md-4 text-center"><h5><b>Bauleitung</b></h5></div>
									</div>
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4 offset-md-2">
											<mat-form-field appearance="outline">
												<input type="text"
													name="offerCreator"
													placeholder="vorgesehener ProjektleiterIn"
													matInput
													formControlName="plannedManager"
													[matAutocomplete]="autoManager">
												<mat-autocomplete #autoManager="matAutocomplete" [displayWith]="displayEmployee">
													<mat-option *ngFor="let emp of filteredManager | async" [value]="emp">
														{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>vorgesehener ProjektleiterIn</mat-label>
											</mat-form-field>
										</div> 
										<div class="col-sm-12 col-md-4">
											<mat-form-field appearance="outline">
												<input type="text"
													name="offerCreator"
													placeholder="vorgesehner BauleiterIn"
													matInput
													formControlName="plannedForeman"
													[matAutocomplete]="autoForeman">
												<mat-autocomplete #autoForeman="matAutocomplete" [displayWith]="displayEmployee">
													<mat-option *ngFor="let emp of filteredForeman | async" [value]="emp">
														{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>vorgesehner BauleiterIn</mat-label>
											</mat-form-field>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-sm-12 col-md-4 offset-md-2">
											<mat-form-field appearance="outline">
												<input type="text"
													name="offerCreator"
													placeholder="vorgesehner ManagerIn Stv."
													matInput
													formControlName="plannedManagerDep"
													[matAutocomplete]="autoManagerDep">
												<mat-autocomplete #autoManagerDep="matAutocomplete" [displayWith]="displayEmployee">
													<mat-option *ngFor="let emp of filteredManagerDep | async" [value]="emp">
														{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>vorgesehner ProjektleiterIn Stv.</mat-label>
											</mat-form-field>
										</div>
										<div class="col-sm-12 col-md-4">
											<mat-form-field appearance="outline">
												<input type="text"
													name="offerCreator"
													placeholder="vorgesehner BauleiterIn Stv."
													matInput
													formControlName="plannedForemanDep"
													[matAutocomplete]="autoForemanDep">
												<mat-autocomplete #autoForemanDep="matAutocomplete" [displayWith]="displayEmployee">
													<mat-option *ngFor="let emp of filteredForemanDep | async" [value]="emp">
														{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
													</mat-option>
												</mat-autocomplete>
												<mat-label><em class="fa fa-user"></em>vorgesehner BauleiterIn Stv.</mat-label>
											</mat-form-field>
										</div>
									</div>
									
								</div>
							</div>
					</div>
					<div class="card">
						<a  class="btn btn-light" data-toggle="collapse" data-target="#collapseReferenceProjects" aria-expanded="true" aria-controls="collapseReferenceProjects">
							<div class="card-header" id="headingReferenceProjects">
								<h4 class="mb-0">
									<em class="fa-solid fa-list-check"></em> Referenzprojekte
								</h4>
							</div>
						</a>
						<div id="collapseReferenceProjects" class="collapse" aria-labelledby="headingReferenceProjects" data-parent="#accordionCreateProject">
							<div class="card-body">
								<ng-container *ngIf="referenceProjects.length > 0">
									<table class="table">
										<thead>
											<tr>
												<th scope="col col-sm-3">Projektnummer</th>
												<th scope="col col-sm-auto">Projektbezeichnung</th>
												<th scope="col col-sm-2">Entfernen</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let proj of referenceProjects">
												<td>{{proj.projectId}}</td>
												<td>{{proj.title}}</td>
												<td>
													<button type="button" class="btn btn-sm btn-danger btn-outlined" (click)="removeReferenceProject(proj)">
														<em class="fa-solid fa-minus"></em>  Entfernen
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</ng-container>
								<div class="row mb-3">
									<h4>Vorhandene Projekte</h4>
								</div>
								<div class="input-group tagSearch">
									<div class="input-group-text"><em class="fa fa-search"></em></div>
									<input type="text" class="form-control" placeholder="Projekt suchen" id="inpTagSearch" (keyup)="referenceProjectFilter($event)">
								</div>
								<div class="row mb-3">
									<table class="table">
										<thead>
											<tr>
												<th scope="col col-sm-4">Projektnummer</th>
												<th scope="col col-sm-auto">Projektbezeichnung</th>
												<th scope="col col-sm-2">Hinzufügen</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let proj of filteredReferenceProjects">
												<td>{{proj.projectId}}</td>
												<td>{{proj.title}}</td>
												<td>
													<button type="button" class="btn btn-sm btn-success btn-outlined" (click)="addReferenceProject(proj)">
														<em class="fa-solid fa-plus"></em>  Hinzufügen
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<ng-container *ngIf="openedProject">
				<button type="button" class = "btn btn-secondary" (click)="downloadExcel(openedProject.id)">Excel herunterladen</button>
			</ng-container> 
			<button type="submit" [ngClass]="createProjectForm.valid && geometryArray.length > 0 && projectCustomers.length > 0 ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createProjectForm.valid || geometryArray.length == 0 || projectCustomers.length == 0">Speichern</button>
		</div>
	</form>
</ng-template>
