textarea#comment {
    height: 4rem;
}

#customer:disabled {
    background-color: #b3b3b3;
}

.hidden {
    display: none !important;
}
#map {
    height: 50vh;
    width: 100%;
	 position: relative;
}
.search {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;
 }
 #geocode-input,
 #geocode-button {
	font-size: 16px;
	margin: 0 2px 0 0;
	padding: 4px 8px;
 }
 #geocode-input {
	width: 300px;
 }
input[type="radio"] {
    margin-right: 5px;
}
div.tags {
    min-height: 250px;
}
span.info{
	font-style: italic;
	font-weight: 100;
	font-size: small;
	color: grey;
}
div.tagSearch {
	margin-bottom: 3%;
}
span.badge{
	margin-left: 2%;
}
mat-form-field {
	width: 100%;
}
input.invalid {
	border: solid red 2px;
}
*.invalid-card {
	background-color: rgb(255 0 0 /25%);
}

.map-tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
 
	/* Position the tooltip text */
	position: absolute;
	z-index: 1500;
	top: 20px;
	left: -50%;
 
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
 }
 .map-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
 }