<ng-template #selectStateChange let-c="close" let-d="dismiss">
	<div class=" modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="stateChange">Aktion auswählen</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<h4>Bitte wählen sie den neuen Status</h4>
				</div>
				<div class="row">
					<div class="col">
						<button class="btn btn-secondary" (click)="openChangeModal('planning')">Planen</button>
						<button class="btn btn-secondary" (click)="openChangeModal('done')">Abschluss</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
