<ng-template #editFieldTask let-c="close" let-d="dismiss">
	<div class=" modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="showTaskModalTitle">Feldeinsatz planen</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form [formGroup] ="editFieldTaskForm" class="form-group" name="createFieldTaskForm" (ngSubmit)="planTask()">
				<div class="modal-body">
					<div class="col form-group form p-3">
						<div class="row mb-3">
							<div class="col-sm">
								<div class="form-floating">
									<textarea type="text" class="form-control" name="orderDescription" formControlName="orderDescription" required></textarea>
									<label class="form-label" for="orderDescription">Beschreibung</label>
								</div>
							</div>
						</div>
						<div class="row mb-3 align-items-center">
							<div class="col">
								<div class="form-floating">
									<input type="date" class="form-control" name ="date" placeholder="Date" formControlName="date" required (change)="importantValueChange()" >
									<label for="date" class="form-label">Datum</label>
								</div>
							</div>
							<div class="col">
								<div class="form-floating">
									<select class="form-select" type="text" name="time" formControlName="time" required (change)="importantValueChange()" >
										<option value="" selected hidden disabled>Zeit auswählen</option>
										<option value="morning">Vormittag</option>
										<option value="afternoon">Nachmittag</option>
										<option value="day">Ganzer Tag</option>
										<option value="night">Nachteinsatz</option>
									</select>
									<label for="radios">Zeit</label>
								</div>
								
							</div>
						</div>
						<div class="row mb-3 form-group">
							<div class="col">
								<div class="form-floating">
									<select required placeholder="Startpunkt Auswhälen" class="form-select" type="text" name="location" formControlName="location" (change)="importantValueChange()" >
										<option value="" disabled selected hidden>Startpunkt auswählen</option>
										<option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
									</select> 
									<label for="location" class="form-label">Startpunkt</label>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<div class="form-floating ">
									<input id="orderNO" type="text" class="form-control" name="orderNO" formControlName="orderNO" placeholder="2">
									<label class="form-label" for="orderNO">Auftragsnummer</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-floating">
									<select id="floatingOperator"class="form-select" type="text" name="employee" placeholder="Ersteller Kürzel" formControlName="operator" required>
										<option value="" selected hidden disabled>Operateur auswählen</option>
										<option *ngIf="fieldTask?.operator" [ngValue]="fieldTask.operator">{{getEmployee(fieldTask.operator).username}}</option>
										<option *ngFor="let emp of availableEmployees" [ngValue]="emp.id">{{emp.username}}</option>
									</select>
									<label for ="floatingOperator">Operateur</label>
								</div>
							</div>
						</div>
						<div class="form-group row mb-3">
							<div class="col-5">
								<label for="tachyAmount" class="col-form-label">Tachys:</label>
							</div>
							<div class="col-auto">
								<input [min]="selectedTachys.length" max="4" class="form-control" type="number" formControlName="tachyAmount" name="tachyAmount">
							</div>
						</div>
						<ng-container  *ngFor="let tachy of selectedTachys;let i = index">
								<div class="row">
									<div class="col-auto">
										<span>{{tachy.abbreviation}}: {{tachy.name}}</span>
									</div>
									<div class="col-auto">
										<i class="fa-solid fa-xmark fa-red" (click)="removeSelectedTachy(i)"></i>
									</div>
								</div>
						</ng-container>
						<ng-container *ngIf="editFieldTaskForm.get('tachyAmount').value > 0">
							<div class="row mb-3">
								<div class="col">
									<div class="form-floating">
										<select placeholder="" name="tachySelect" [disabled]="selectedTachys.length >= editFieldTaskForm.get('tachyAmount').value" class="form-select" type="text"(change)="selectedTachy($event)">
											<option default selected value="">Tachy hinzufügen</option>
											<option *ngFor="let tachy of availableTachys" value="{{tachy.id}}">{{tachy.abbreviation}}</option>
										</select>
										<label class="form-label" for="tachySelect">Tachy</label>
									</div>
								</div>
							</div>
						</ng-container>
						<div class="form-group row mb-3">
							<div class="col-5">
								<label for="gnssAmount" class="col-form-label">GNSS:</label>
							</div>
							<div class="col-auto">
								<input [min]="selectedGnssArray.length" max="4" class="form-control" type="number" formControlName="gnssAmount" name="gnssAmount">
							</div>
						</div>
						<ng-container  *ngFor="let gnss of selectedGnssArray;let i = index">
							<div class="row">
								<div class="col-auto">
									<span>{{gnss.abbreviation}}: {{gnss.name}}</span>
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-xmark fa-red" (click)="removeSelectedGnss(i)"></i>
								</div>
							</div>
						</ng-container>
						<ng-container *ngIf="editFieldTaskForm.get('gnssAmount').value > 0">
							<div class="row mb-3">
								<div class="col">
									<div class="form-floating">
										<select placeholder="" name="gnssSelect" [disabled]="selectedGnssArray.length >= editFieldTaskForm.get('gnssAmount').value" class="form-select" type="text"(change)="selectedGnss($event)">
											<option default selected value="">GNSS hinzufügen</option>
											<option *ngFor="let gnss of availableGnss" value="{{gnss.id}}">{{gnss.abbreviation}}</option>
										</select>
										<label class="form-label" for="gnssSelect">GNSS</label>
									</div>
								</div>
							</div>
						</ng-container>	
						<div class="form-group row mb-3">
							<div class="col-5">
								<label for="carAmount" class="col-form-label">Fahrzeuge:</label>
							</div>
							<div class="col-auto">
								<input [min]="selectedCars.length" max="4" class="form-control" type="number" formControlName="carAmount" name="carAmount">
							</div>
						</div>
						<ng-container  *ngFor="let car of selectedCars;let i = index">
							<div class="row">
								<div class="col-auto">
									<span>{{car.abbreviation}}: {{car.name}}</span>
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-xmark fa-red" (click)="removeSelectedCar(i)"></i>
								</div>
							</div>
						</ng-container>
						<ng-container *ngIf="editFieldTaskForm.get('carAmount').value > 0">
							<div class="row mb-3">
								<div class="col">
									<div class="form-floating">
										<select placeholder="" name="carSelect" [disabled]="selectedCars.length >= editFieldTaskForm.get('carAmount').value" class="form-select" type="text"(change)="selectedCar($event)">
											<option default selected value="">Auto hinzufügen</option>
											<option *ngFor="let car of availableCars" value="{{car.id}}">{{car.abbreviation}}</option>
										</select>
										<label class="form-label" for="carSelect">Fahrzeug</label>
									</div>
								</div>
							</div>
						</ng-container>
						<div class="form-group row mb-3">
							<div class="col-5">
								<label for="employeeAmount" class="col-form-label" >zusätzliche Mitarbeiter:</label>
							</div>
							<div class="col-auto">
								<input [min]="selectedEmployees.length" max="4" class="form-control" type="number" formControlName="employeeAmount" name="employeeAmount">
							</div>
						</div>
						<ng-container  *ngFor="let e of selectedEmployees;let i = index">
							<div class="row">
								<div class="col-auto">
									<span>{{e.username}}</span>
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-xmark fa-red" (click)="removeSelectedEmployee(i)"></i>
								</div>
							</div>
						</ng-container>
						<ng-container *ngIf="editFieldTaskForm.get('employeeAmount').value > 0">
							<div class="row mb-3">
								<div class="col">
									<div class="form-floating">
										<select placeholder="" name="employeeSelect" [disabled]="selectedEmployees.length >= editFieldTaskForm.get('employeeAmount').value" class="form-select" type="text"(change)="selectedEmployee($event)">
											<option default selected value="">MA hinzufügen</option>
											<option *ngFor="let ma of availableEmployees" value="{{ma.id}}">{{ma.username}}</option>
										</select>
										<label class="form-label" for="employeeSelect">Mitarbeiter</label>
									</div>
								</div>
							</div>			
						</ng-container>			
						<div class="row from-group">
							<div class="col">
								<div class="form-floating">
									<textarea name="comment" class="form-control" formControlName="comment"></textarea>
									<label for="comment" class="form-lable">Bemerkung</label>
									
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" [ngClass]="editFieldTaskForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!editFieldTaskForm.valid">Speichern</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>
