.header, .header-space, .footer, .footer-space { 
	height: 100px; 
}
.header { 
	position: fixed;
	top: 0; 
}
.footer { 
	position: fixed; 
	bottom: 0;
	left: 0; 
}
@media screen {
  :host {
    display: none;
  }
}
