<ng-template #createNews let-c="close" let-d="dismiss">
    <div class=" modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="showTaskModalTitle">News</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup] ="createNewsForm" class="form-group" name="createNewsForm" (ngSubmit)="createNewsEntry()">
                <div class="modal-body">
                    <div class="col form-group form p-3">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <textarea style="height: 100px;"  class="form-control" name="news" formControlName="text" required></textarea>
                                    <label class="form-label" for="news">Text</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating">
                                    <select class="form-select" name="department" placeholder="Abteilung" formControlName="department">
                                        <option value="" selected >Allgemein</option>
                                        <option *ngFor="let dep of departments" [ngValue]="dep.id">{{dep.name}}</option>
                                    </select>
                                    <label class="form-label" for ="department">Abteilung</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" name ="date" placeholder="Date" formControlName="date" required>
                                    <label for="date" class="form-label">Datum</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [ngClass]="createNewsForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createNewsForm.valid">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
