<ng-template #showFieldTask let-c="close" let-d="dismiss">
	<div class=" modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="showTaskModalTitle">{{fieldTask.orderDescription}}<br> {{fieldTask.date | date:'mediumDate'}}</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col">Operateur:</div>
					</div>
						<ul>
							<li>{{operator.firstname}} {{ operator.lastname}}</li>
						</ul>
					<hr>
					<ng-container *ngIf="selectedEmployees?.length>0">
						<div class="row">
							<div class="col">Mitarbeiter:</div>
						</div>
						<ul>
							<li *ngFor="let emp of selectedEmployees">{{emp.firstname}} {{emp.lastname}}</li>
						</ul>
						<hr>
					</ng-container>
					<ng-container *ngIf="selectedTachys?.length>0">
						<div class="row">
							<div class="col">Tachys:</div>
						</div>
						<ul>
							<li *ngFor="let tachy of selectedTachys">{{tachy.abbreviation}}: {{tachy.name}}</li>
						</ul>
						<hr>
					</ng-container>
					<ng-container *ngIf="selectedGnss?.length>0">
						<div class="row">
							<div class="col">GNSS:</div>
						</div>
						<ul>
							<li *ngFor="let gnss of selectedGnss">{{gnss.abbreviation}}: {{gnss.name}}</li>
						</ul>
						<hr>
					</ng-container>
					<ng-container *ngIf="selectedCars?.length>0">
						<div class="row">
							<div class="col">Fahrzeuge:</div>
						</div>
						<ul>
							<li *ngFor="let car of selectedCars">{{car.abbreviation}}: {{car.name}}</li>
						</ul>
						<hr>
					</ng-container>
					<ng-container *ngIf="fieldTask.comment?.length>0">
						<div class="row">
							<div class="col">Kommentar:</div>
						</div>
						{{fieldTask.comment}}
					</ng-container>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-primary" (click)="openModalEdit(fieldTask.id)">Planen</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-warning" (click)="copyFieldTask(fieldTask)">Kopieren</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
<app-edit-feldeinsatz #editFieldTask></app-edit-feldeinsatz>
