<ng-template #planProject let-c="close" let-d="dismiss">
	<form [formGroup]="createPlanningForm" class="modal-content form-group" name="createPlanningForm" (ngSubmit)="createPlanningInstance()">
		<div class="modal-header">
			<h4 class="modal-title" id="showTaskModalTitle">{{project.title}}</h4>
			<button type="button" class="close btn btn-light" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="col form-group form">
				<div class="accordion" id="accordionPlanProject">
					<div class="card">
						<a class="btn btn-light" data-toggle="collapse" data-target="#collapsePlanning" aria-expanded="true" aria-controls="collapsePlanning"
						[ngClass]="createPlanningForm.controls['title'].valid &&
							createPlanningForm.controls['coReferent'].valid && 
							createPlanningForm.controls['manager'].valid?'':'invalid-card'" >
							<div class="card-header" id="headingGeneral">
								<h4 class="mb-0"><em class="fa-solid fa-users"></em> Projektierung</h4>
							</div>
						</a>
						<div id="collapsePlanning" class="collapse" aria-labelledby="headingGeneral" data-parent="#accordionPlanProject">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col col-sm">
										<div class="form-floating">
											<input *ngIf="user.role.role=='Administration'; else notAD" type="text" class="form-control" placeholder="" name="" id="projectId" formControlName="projectId" [(ngModel)]="this.project.projectId">
											<ng-template #notAD>
												<input type="text" readonly class="form-control" placeholder="" name="" id="projectId" formControlName="projectId" [(ngModel)]="this.project.projectId">
											</ng-template>
											<label class="form-label" for="projectId">Projektnummer</label>
										</div>
									</div>
									<div class="col col-sm">
										<div class="form-floating">
											<input type="text" [ngClass]="createPlanningForm.controls['title'].valid?'':'invalid'" class="form-control" placeholder=" " name="" id="title" formControlName="title" >
											<label class="form-label" for="t 	tle">Projektbezeichnung</label>
										</div>
									</div>
									<!-- <div class="col-auto" style="padding-right: 0; text-align: right; align-self: center">
										<span>CHF</span>
									</div> -->
									<div class="col-sm">
										<div class="form-floating">
											<input type="number" min="0" class="form-control" placeholder=" " name="effectiveCosts" id="effectiveCosts" formControlName="effectiveCosts">
											<label class="form-label" for="effectiveCosts">Honorarsumme</label>
										</div>
									</div>
									<div class="col-sm">
										<div class="form-floating">
											<input type="date" class="form-control" placeholder=" " name="estimatedDoneDate" id="estimatedDoneDate" formControlName="estimatedDoneDate">
											<label class="form-label" for="estimatedDoneDate">Enddatum</label>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm">
										<mat-form-field appearance="outline">
											<input type="text"
											name="coReferent"
											placeholder="KoreferntIn"
											matInput
											required
											formControlName="coReferent"
											[matAutocomplete]="autoCoReferent">
											<mat-autocomplete #autoCoReferent="matAutocomplete" [displayWith]="displayEmployee">
												<mat-option *ngFor="let emp of filteredCoReferent | async" [value]="emp">
													{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>KoreferentIn</mat-label>
										</mat-form-field>
									</div>
									<div class="col-sm">
										<mat-form-field appearance="outline">
											<input type="text"
											name="manager"
											placeholder="ProjektleiterIn"
											matInput
											required
											formControlName="manager"
											[matAutocomplete]="autoManager">
											<mat-autocomplete #autoManager="matAutocomplete" [displayWith]="displayEmployee">
												<mat-option *ngFor="let emp of filteredManager | async" [value]="emp">
													{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>ProjektleiterIn</mat-label>
										</mat-form-field>
									</div>
									<div class="col-sm">
										<mat-form-field appearance="outline">
											<input type="text"
											name="managerDep"
											placeholder="ProjektleiterIn stv."
											matInput
											formControlName="managerDep"
											[matAutocomplete]="autoManagerDep">
											<mat-autocomplete #autoManagerDep="matAutocomplete" [displayWith]="displayEmployee">
												<mat-option *ngFor="let emp of filteredManagerDep | async" [value]="emp">
													{{emp.username}} - {{emp.firstname}} {{emp.lastname}}
												</mat-option>
											</mat-autocomplete>
											<mat-label><em class="fa fa-user"></em>ProjektleiterIn stv.</mat-label>
										</mat-form-field>
									</div>
								</div>
								
								<div class="row mb-3">
									<div class="col-sm">
										<div class="form-floating">
											<textarea type="text" class="form-control" name="comment" id="comment" formControlName="comment" placeholder=" " [(ngModel)]="this.project.comment"></textarea>
											<label class="form-label" for="comment">Kommentar</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="btn btn-light" data-toggle="collapse" data-target="#collapseAdditionalCosts" aria-expanded="true" aria-controls="collapseAdditionalCosts">
								<div class="card-header" id="headingAdditionalCosts">
									<h4 class="mb-0">
										<em class="fa-solid fa-coins"></em> Nachträge
									</h4>
								</div>
							</a>
							<div id="collapseAdditionalCosts" class="collapse" aria-labelledby="headingAdditionalCosts" data-parent="#accordionPlanProject">
								<div class="card-body">
									<table class="table">
										<thead>
											<tr>
												<th scope="col col-sm-3">Kosten</th>
												<th scope="col col-sm-auto">Beschreibung</th>
												<th scope="col col-sm-auto">Datum</th>
												<th scope="col col-sm-2">Entfernen</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let ac of allAdditionalCosts">
												<td>{{ac.costs}}</td>
												<td>{{ac.description}}</td>
												<td>{{ac.creationDate | date:'dd.MM.yy' }}</td>
												<td>
													<button type="button" class="btn btn-sm btn-danger btn-outlined" (click)="removeProjectAdditionalCost(ac.id)">
														<em class="fa-solid fa-minus"></em>  Entfernen
													</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="row mb-3">
										<div class="col-auto" style="padding-right: 0; text-align: right; align-self: center">
											<span>CHF</span>
										</div>
										<div class="col-sm-3">
											<div class="form-floating">
												<input [(ngModel)]="additionalCostCosts" [ngModelOptions]="{standalone: true}" type="number" min="0" class="form-control" placeholder=" " name="additionalCostCosts" id="additionalCostCosts">
												<label class="form-label" for="additionalCostCosts">Kosten</label>
											</div>
										</div>
										<div class="col-sm-7">
											<div class="form-floating">
												<textarea [(ngModel)]="additionalCostDesc" [ngModelOptions]="{standalone: true}" type="text" class="form-control" name="additionalCostDesc" id="additionalCostDesc" placeholder=" "></textarea>
												<label class="form-label" for="additionalCostDesc">Beschreibung</label>
											</div>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-success btn-outlined" (click)="addProjectAdditionalCost()">
												<em class="fa-solid fa-plus"></em>  Hinzufügen
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="btn btn-light" data-toggle="collapse" data-target="#collapseProjectTasks" aria-expanded="true" aria-controls="collapseProjectTasks">
								<div class="card-header" id="headingProjectTasks">
									<h4 class="mb-0">
										<em class="fa-solid fa-list-check"></em> Tätigkeiten
									</h4>
								</div>
							</a>
							<div id="collapseProjectTasks" class="collapse" aria-labelledby="headingProjectTasks" data-parent="#accordionPlanProject">
								<div class="card-body">
								<ng-container *ngIf="selectedProjectTasks.length > 0">
									<table class="table">
										<thead>
											<tr>
												<th scope="col col-sm-4">Titel</th>
												<th scope="col col-sm-auto">Beschreibung</th>
												<th scope="col col-sm-2">Entfernen</th>
											</tr>
										</thead>
										<tbody>
												<tr *ngFor="let task of selectedProjectTasks">
													<td>{{task.title}}</td>
													<td>{{task.description}}</td>
													<td>
														<button type="button" class="btn btn-sm btn-danger btn-outlined" (click)="removeProjectTask(task)">
															<em class="fa-solid fa-minus"></em>Entfernen
														</button>
													</td>
												</tr>

										</tbody>
									</table>
								</ng-container>
									<div class="row mb-3">
										<div class="col-sm-4">
											<div class="form-floating">
												<input [(ngModel)]="projectTaskTitle" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder=" " name="projectTaskTitle" id="projectTaskTitle">
												<label class="form-label" for="projectTaskTitle">Titel</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-floating">
												<textarea [(ngModel)]="projectTaskDesc" [ngModelOptions]="{standalone: true}" type="text" class="form-control" name="projectTaskDesc" id="projectTaskDesc" placeholder=" "></textarea>
												<label class="form-label" for="projectTaskDesc">Beschreibung</label>
											</div>
										</div>
										<div class="col-sm-2">
											<button type="button" class="btn btn-success btn-outlined" (click)="addProjectTask()">
												<em class="fa-solid fa-plus"></em>  Neu erstellen
											</button>
										</div>
									</div>
									<div class="row mb-3">
										<table class="table">
											<thead>
												<tr>
													<th scope="col col-sm-4">Titel</th>
													<th scope="col col-sm-auto">Beschreibung</th>
													<th scope="col col-sm-2">Hinzufügen</th>
													<th scope="col col-sm-2">Löschen</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let task of allProjectTasks">
													<td>{{task.title}}</td>
													<td>{{task.description}}</td>
													<td>
														<button type="button" class="btn btn-sm btn-success btn-outlined" (click)="addProjectTaskToProject(task)">
															<em class="fa-solid fa-plus"></em>  Hinzufügen
														</button>
													</td>
													<td>
														<button type="button" class="btn btn-sm btn-danger" (click)="deleteProjectTask(task)">
															<em class="fa-solid fa-minus"></em> Löschen
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<ng-container>
				<button type="button" class = "btn btn-secondary" (click)="downloadExcel(project.id)">Excel herunterladen</button>
			</ng-container> 
			<button type="submit" [ngClass]="createPlanningForm.valid ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!createPlanningForm.valid">Speichern</button>
		</div>
	</form>
</ng-template>