{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Django-ng</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ang/styles.css' %}"></head>
<body>
  <h1>HGello</h1>
	<app-root><img src="/static/ang/assets/images/loading/load.gif" alt="Loading..." style="position:fixed; top:50%; left:50%; transform: translate(-50%, -50%);"></app-root>
	<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
</body>
</html>