<div class="container-fluid shadow-lg bg-white rounded p-4">
	<div class="row">
		<div class="col">
			<h2>Geräteplan</h2>
		</div>
	</div>
	<div class="row align-itmes-center row-cols-sm-auto mb-2">
		<div class="col">
			<mat-form-field appearance="fill">
				<input 
				disabled
				matInput [matDatepicker]="picker" 
				placeholder="Datum auswählen"
				[defaultValue]="dateService.today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
				(dateChange) ="dateChange($event.value)"
				[value]="dateService.selectedDate"
				>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker disabled="false"></mat-datepicker>
			</mat-form-field>
		</div>
		
		<div class="col">
			<div class="row">
				<span>
					<i class="fa-solid fa-angle-left weekSelector" (click)="changeWeek('backward')"></i>
					<i class="fa-solid fa-angle-right weekSelector" (click)="changeWeek('forward')"></i>
				</span>
			</div>
			<div class="row">
				<small>KW:{{dateService.weekNumber}}</small> 
			</div>
		</div>
		<div class="col">
			<select class="btn btn-outline-secondary" [(ngModel)]="locFilter">
				<option selected [ngValue]="0"> Alle Standorte</option>
				<option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
			</select>
		</div>
		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="openCreateModal()">Feldeinsatz erfassen</button>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive-lg">
			<table class="table table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th>Gerät</th>
						<th *ngFor='let date of dateService.dates' [ngClass]="{'th-today': dateService.compareDates(date,dateService.today)}">
							{{date.toLocaleDateString('de-CH',{'weekday':'short','day':'2-digit','month':'2-digit','year':'2-digit'})}}
						</th> 
					</tr>
				</thead>
				<div *ngIf="loading;else loadingFinished">
					<mat-spinner style="position:fixed;left:45%;"></mat-spinner>
				</div>
				<ng-template #loadingFinished>
					<tbody>
						
						<tr *ngFor='let tachy of allTachys'>
							<ng-container *ngIf="!locFilter || (locFilter && tachy.location === locFilter)">
								<td [style.background-color]="tachy.color" [ngClass]="'#'+tachy.color+'#'" class="tachy">{{tachy.abbreviation}} {{tachy.name}}</td>
								<td *ngFor="let date of dateService.dates">
									<ng-container *ngIf="tachyByDay.get(date | date:'yyyy-MM-dd')?.get(tachy.id)">
										<ng-container *ngFor="let task of tachyByDay.get(date | date:'yyyy-MM-dd').get(tachy.id)">
											<div class="row">
												<div class="col">
													<em [ngClass]="task.released ? 'fa-solid fa-compass-drafting clickable fa-green': 'fa-solid fa-compass-drafting clickable fa-red' " (click)="openShowModal(task.id,$event)"></em>
													{{task.time == 'morning' ? 'VM: ': task.time == 'night' ? 'NE: ' : task.time == 'afternoon' ? 'NM:' : ''}} {{task.orderDescription}}
												</div>
											</div>
										</ng-container>
									</ng-container>
								</td>
							</ng-container>
						</tr>
						<tr *ngFor='let car of allCars'>
							<ng-container *ngIf="!locFilter || (locFilter && car.location === locFilter)">
								<td [style.background-color]="car.color" class="car">{{car.abbreviation}} {{car.name}}</td>
								<td *ngFor="let date of dateService.dates">
									<ng-container *ngIf="carByDay.get(date | date:'yyyy-MM-dd')?.get(car.id)">
										<ng-container *ngFor="let task of carByDay.get(date | date:'yyyy-MM-dd').get(car.id)">
											<div class="row">
												<div class="col">
													<em [ngClass]="task.released ? 'fa-solid fa-compass-drafting clickable fa-green': 'fa-solid fa-compass-drafting clickable fa-red' " (click)="openShowModal(task.id,$event)"></em>
													{{task.time == 'morning' ? 'VM: ': task.time == 'night' ? 'NE: ' : task.time == 'afternoon' ? 'NM:' : ''}} {{task.orderDescription}}
												</div>
											</div>
										</ng-container>
									</ng-container>
								</td>
							</ng-container>
						</tr>
						<tr *ngFor='let gnss of allGnss'>
							<ng-container *ngIf="!locFilter || (locFilter && gnss.location === locFilter)">
								<td [style.background-color]="gnss.color" class="gnss">{{gnss.abbreviation}} {{gnss.name}}</td>
								<td *ngFor="let date of dateService.dates">
									<ng-container *ngIf="gnssByDay.get(date | date:'yyyy-MM-dd')?.get(gnss.id)">
										<ng-container *ngFor="let task of gnssByDay.get(date | date:'yyyy-MM-dd').get(gnss.id)">
											<div class="row">
												<div class="col">
													<em [ngClass]="task.released ? 'fa-solid fa-compass-drafting clickable fa-green': 'fa-solid fa-compass-drafting clickable fa-red' " (click)="openShowModal(task.id,$event)"></em>
													{{task.time == 'morning' ? 'VM: ': task.time == 'night' ? 'NE: ' : task.time == 'afternoon' ? 'NM:' : ''}} {{task.orderDescription}}
												</div>
											</div>
										</ng-container>
									</ng-container>
								</td>
							</ng-container>
						</tr>
					</tbody>
				</ng-template>
			</table>
		</div>
	</div>
</div>
<app-show-feldeinsatz #showFeldeinsatz (copyEventEmitter)="createCopiedFieldTask()"></app-show-feldeinsatz>
<app-edit-feldeinsatz #editFeldeinsatz></app-edit-feldeinsatz>
