.component-title {
    margin-right: 2rem !important;
}
div.table-container {
    height: 83vh;
}
em.clickable {
    cursor: pointer;
}
 ::ng-deep .cdk-overlay-container {
	z-index: 1055 !important;
}
em.legend-acquisition{
    margin-right: 0.5rem;
	color:  #ffcc99!important;
}
em.legend-planning {
    margin-right: 0.5rem;
	color: #86e286!important;
}
em.legend-realistation {
    margin-right: 0.5rem;
	color: #66ccff!important;
}
em.legend-done {
    margin-right: 0.5rem;
	color: #CCC!important;
}
div.state-popup{
	width: 150px;
	display: none;
	position:fixed;
	background-color: white;
	border: solid black 2px;
}
div.state-row {
	cursor: pointer;
	border-bottom: solid grey 1px;
}
div.state-row:hover {
	background-color: grey;
}
