<div class="container-fluid bg-white p-4 h-100">
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
                <h1 class="h2 component-title mb-2">Auftragsverwaltung</h1>
                <div class="input-group mb-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button"
                            id="btn-create-project" (click)="openModalCreate()">
                        <em class="fa-regular fa-square-plus"></em> Auftrag erfassen
                    </button>
                    <input type="text" class="form-control" placeholder="suchen..." id="quickFilter"
                           aria-label="Eingabe für 'suchen'" aria-describedby="btn-create-project"
                           (keyup)="projectTableTextFilterChanged($event)">
                    <button class="btn btn-sm btn-primary" (click)="resetTable()">X</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span><em class="fa-solid fa-square fa-lg legend-acquisition"></em>Akquisition</span>
                </div>
                <div class="col">
                    <span><em class="fa-solid fa-square fa-lg legend-planning"></em>Planung</span>
                </div>
                <div class="col">
                    <span><em class="fa-solid fa-square fa-lg legend-realistation"></em>Realisierung</span>
                </div>
                <div class="col">
                    <span><em class="fa-solid fa-square fa-lg legend-done"></em>Abgeschlossen</span>
                </div>
            </div>

            <div class="table-container">

                <ag-grid-angular
                        style="width: 100%; height: 100%"
                        class="ag-theme-alpine"
                        [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef"
                        [rowData]="projectList"
                        [rowSelection]="'single'"
                        [rowClassRules]="rowClassRules"
                        [animateRows]="true"
                        [columnTypes]="columnTypes"
                        [suppressMenuHide]="true"
                        (gridReady)="onGridReady($event)"
                        (cellClicked)="handleCellClick($event)"
                        (firstDataRendered)="onFirstDataRendered($event)"
                        (gridSizeChanged)="onGridSizeChanged($event)"
                        (cellMouseOver)="cellMouseOver($event)"
                        (cellMouseOut)="cellMouseOut($event)"
                        (filterChanged)="filterChanged()"
                        [localeText]="localeText"
                ></ag-grid-angular>
            </div>

        </div>
        <div class="col-sm-12 col-md-6">

			<app-map-view #map (hoverEmitter)="projectHovered($event)" (projectClickedEmitter)="mapProjectClicked($any($event))" (moveEmitter)="mapMovedWithFilter()"></app-map-view>

        </div>
    </div>
</div>

<app-create-project #createProject></app-create-project>

<app-detailview #detailView (editProjectEmitter)="editProject($event)"></app-detailview>


<app-planning #planProject (closeEmitter)="statusChanged($event)"></app-planning>
<app-realisation #realizeProject (closeEmitter)="statusChanged($event)"></app-realisation>
<app-done #finishProject (closeEmitter)="statusChanged($event)"></app-done>
<!-- <app-select-state-change #selectStateChange (newStateEmitter)="stateChangeSelected($event)"></app-select-state-change> -->
