<ng-template #deleteModal let-c="close" let-d="dismiss">
	<div class=" modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="showTaskModalTitle">Löschen Bestätigen</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <div class="row">
					<ng-container *ngIf="recursive;else noRecursive">
						<div class="col">
							Sind sie sicher dass sie die Einträge <strong>{{text}}</strong> löschen möchten? <br>
							Insgesamt sind es {{absenceAmount}}
						</div>
					</ng-container>
					<ng-template #noRecursive>
						<div class="col">
							Sind Sie sicher dass sie den Eintrag <strong>{{text}}</strong> löschen möchten?
						</div>	
					</ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteObject()">Löschen</button>
                <button type="button" class="btn" (click)="d('Cancel Click')">Abbrechen</button>
            </div>
		</div>
	</div>
</ng-template>
