<div class="container-fluid shadow-lg bg-white rounded p-4">
	<div class="row">
		<div class="col">
			<h2>Feldeinsätze</h2>
		</div>
	</div>
	<div class="row align-times-center row-cols-sm-auto mb-2">
		<div class="col">
			<mat-form-field appearance="fill">
				<input 
				disabled
				matInput [matDatepicker]="picker" 
				placeholder="Datum auswählen"
				[defaultValue]="today.toLocaleDateString('de-CH', {'day':'numeric','month':'numeric','year':'numeric'})"
				(dateChange) ="getDates($event.value)"
				[value]="selectedDate"
				>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker disabled="false"></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="col">
			<div class="row">
				<span>
					<i class="fa-solid fa-angle-left weekSelector" (click)="changeWeek('backward')"></i>
					<i class="fa-solid fa-angle-right weekSelector" (click)="changeWeek('forward')"></i>
				</span>
			</div>
			<div class="row">
				<small>KW:{{weekNumber}}</small> 
			</div>
		</div>

		<div class="col ms-auto">
			<button class="btn btn-outline-primary" (click)="openModalEdit()">Feldeinsatz erfassen</button>
		</div>
	</div>
	<div class="row">
		<div class="col table-responsive-lg">
			<table class="table table-striped">
				<thead class="table-dark">
					<tr>
						<th>Status</th>
						<th>Beschreibung</th>
						<th>Datum</th>
						<th>Zeit</th>
						<th>Operateur</th>
						<th>Standort</th>
						<th>Tachys</th>
						<th>GNSS</th>
						<th>Mitarbeiter</th>
						<th>Fahrzeuge</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let task of weeklyFieldTasks">
						<tr [ngClass]="task.released ? 'table-success' : 'table-danger'">
							<td><i [ngClass]="task.released ? 'fa-solid fa-check fa-green' : 'fa-solid fa-xmark fa-red'"></i></td>
							<td>{{task.orderDescription}}</td>
							<td>{{task.date | date }}</td>
							<td>{{task.time=="morning"?"VM": task.time == 'day' ? 'TAG' : task.time=='night'?'NACHT':'NM'}}</td>
							<td>{{employeeMap.get(task.operator)?.username}}</td>
							<td>{{locationMap.get(task.location)?.name}}</td>
							<td>{{task.tachyAmount}}</td>
							<td>{{task.gnssAmount}}</td>
							<td>{{task.employeeAmount}}</td>
							<td>{{task.carAmount}}</td>
							<td>
								<span type="button" class="btn btn-success m-1 btn-sm" (click)="openModalEdit(task.id)">planen</span>	
								<span type="button" class="btn btn-warning m-1 btn-sm" (click)="copyFieldTask(task)">kopieren</span>						
								<span type="button" class="btn btn-danger m-1 btn-sm" (click)="openModalDelete(task.id)">löschen</span>
							</td>
						</tr>
					</ng-container>
					
					<!-- <tr>
						<td>Vormittag</td>
						<td *ngFor="let tasks of weeklyMorningTasks">
							<ng-container *ngFor="let task of tasks">
								<div class="col-12" [ngClass]="task.released ? 'released' : 'not-released'">{{task.orderDescription}}</div>
							</ng-container>
						</td>
					</tr>
					<tr>
						<td>Nachmittag</td>
						<td *ngFor="let tasks of weeklyAfternoonTasks">
							<ng-container *ngFor="let task of tasks">
								<div class="col-12" [ngClass]="task.released ? 'released' : 'not-released'">{{task.orderDescription}}</div>
							</ng-container>
						</td>
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- <app-create-feldeinsatz #createFieldTask (closeEmitter)="getWeeklyFieldTask()"></app-create-feldeinsatz> -->
<app-edit-feldeinsatz #editFieldTask (closeEmitter)="getWeeklyFieldTask()"></app-edit-feldeinsatz>
<app-delete #deleteModal (closeEmitter)="getWeeklyFieldTask()"></app-delete>



