th.th-today {
    background-color: grey;
}
td>div.released {
  background-color: green;
}
td>div.not-released {
  background-color: red;
}
td>i.fa-green {
  color:green
}
td>i.fa-red {
  color:red
}
i.weekSelector {
  cursor: pointer;
  margin: 4px;
}
