#forgotPassword-mask {
    background-color: rgb(27, 28, 31);
    margin-top: 10%;
  }
  
.label {
    background-color: rgb(27, 28, 31);
    color: white;
}

.prepend-icon {
    border-color: rgb(41, 44, 46);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40px;
}

.form-control {
    border: 1px solid rgb(41, 44, 46);
    border-left: none;
}