<div class="card text-center p-3 mx-auto d-flex flex-column" style="max-width: 400px;" id="forgotPassword-mask">
    <h4 class="card-header card-title label" id="forgotPassword-header">Forgot Password</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf="errorMessage" class="alert alert-dark" role="alert"
                id="password-error">
                {{errorMessage}}
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="input-group-text label prepend-icon fa-solid fa-lock" id="password-icon"></i>
                    </div>
                    <input id="newPassword-input" type="password" formControlName="newPassword" class="label form-control"
                        [ngClass]="{ 'is-invalid': submitted && f?.['newPassword'].errors }" placeholder="Passwort" />
                    <div *ngIf="submitted && f?.['newPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['newPassword'].errors?.['required']" id="newPassword-required-error">Passwort ist erforderlich.</div>
                        <div *ngIf="f?.['newPassword'].errors?.['minlength']" id="newPassword-minLength-error">Passwort muss mindestens 6 Zeichen haben.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="input-group-text label prepend-icon fa-solid fa-lock" id="password-icon"></i>
                    </div>
                    <input id="repeatPassword-input" type="password" formControlName="repeatPassword" class="label form-control"
                        [ngClass]="{ 'is-invalid': submitted && f?.['repeatPassword'].errors }"
                        placeholder="Neues Passwort" />
                    <div *ngIf="submitted && f?.['repeatPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['repeatPassword'].errors?.['required']" id="repeatPassword-required-error">Passwort ist erforderlich.</div>
                        <div *ngIf="f?.['repeatPassword'].errors?.['minlength']" id="repeatPassword-minLength-error">Passwort muss mindestens 6 Zeichen
                            haben.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" id="save-button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Speichern
                </button>
            </div>
        </form>
    </div>
</div>