<div class="card text-center p-3 mx-auto d-flex flex-column" style="max-width: 400px;" id="login-mask">
    <h4 class="card-title label" id="login-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf="errorMessage" class="alert alert-dark" role="alert"
                id="auth-incorrect-error">
                {{errorMessage}}
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text label prepend-icon fa fa-regular fa-user" id="username-icon"></span>
                    </div>
                    <input id="username-input" type="text" formControlName="username" class="form-control label"
                        [ngClass]="{ 'is-invalid': submitted && f?.['username'].errors }" placeholder="Benutzername" />
                    <div *ngIf="submitted && f?.['username'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['username'].errors?.['required']" id="username-required-error">
                            Benutzername ist erforderlich.</div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
							  <span class="input-group-text label prepend-icon">
									<fa-icon id="password-icon" [icon]="faLock"></fa-icon>
							  </span>
                    </div>
                    <input id="password-input" type="password" formControlName="password" class="form-control label"
                        [ngClass]="{ 'is-invalid': submitted && f?.['password'].errors }" placeholder="Passwort" />
                    <div *ngIf="submitted && f?.['password'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['password'].errors?.['required']" id="password-required-error">Passwort
                            ist erforderlich.</div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <button [disabled]="loading" class="btn btn-primary" id="login-button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Anmelden
                </button>
            </div>
            <div class="form-group">
                <a routerLink="../register" class="btn btn-link" id="register-button">Registrieren</a>
            </div>
        </form>
    </div>
</div>