<div *ngIf="bigLoading;else loadingFinished">
    <mat-spinner style="position: fixed; left: 55%; top: 50%;"></mat-spinner>
</div>
<ng-template #loadingFinished>
    <div class="card p-3 my-3 mx-auto d-flex flex-column" style="max-width: 400px;" id="register-mask">
        <h4 class="card-title label text-center" id="register-header">Registrierung</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group" *ngIf="errorMessage" class="alert alert-dark" role="alert" id="registration-incorrect-error">
                    {{errorMessage}}
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="role">Rolle</label>
                    <select id="role-select" formControlName="role" class="label custom-select custom-select-lg form-control" [ngClass]="{ 'is-invalid': submitted && f?.['role'].errors }">
                        <option selected [ngValue]="0">Selektiere eine Rolle.</option>
                        <option *ngFor="let role of roles" [ngValue]="role.id">{{role.role}}</option>
                    </select>
                    <div *ngIf="submitted && f?.['role'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['role'].errors?.['required']" id="role-required-error">Rolle ist erforderlich.</div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="form-group col-md-6">
                        <label class="label" for="firstname">Vorname</label>
                        <input id="firstname-input" type="text" formControlName="firstname" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['firstname'].errors }" />
                        <div *ngIf="submitted && f?.['firstname'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['firstname'].errors?.['required']" id="firstname-required-error">Vorname ist erforderlich.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label" for="lastname">Nachname</label>
                        <input id="lastname-input" type="text" formControlName="lastname" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['lastname'].errors }" />
                        <div *ngIf="submitted && f?.['lastname'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['lastname'].errors?.['required']" id="lastname-required-error">Nachname ist erforderlich.</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group mb-3">
                    <label class="label" for="birthday">Geburtstag</label>
                    <input id="birthday-input" type="date" formControlName="birthday" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['birthday'].errors }"/>
                    <div *ngIf="submitted && f?.['birthday'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['birthday'].errors?.['required']" id="birthday-required-error">Geburtstag ist erforderlich.</div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="form-group col-md-6">
                        <label class="label" for="phoneInt">Phone Internal</label>
                        <input id="phone-internal-input" type="number" formControlName="phoneInt" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['phoneInt'].errors }" placeholder="+41761234567"/>
                        <div *ngIf="submitted && f?.['phoneInt'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['phoneInt'].errors?.['required']" id="phone-internal-required-error">Interne Tel. ist erforderlich.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label" for="phoneMob">Phone Mobile</label>
                        <input id="phone-mobile-input" type="number" formControlName="phoneMob" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['phoneMob'].errors }" placeholder="+41761234567"/>
                        <div *ngIf="submitted && f?.['phoneMob'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['phoneMob'].errors?.['required']" id="phone-mobile-required-error">Mobile Tel. ist erforderlich.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="department">Departament</label>
                    <select id="department-select" formControlName="department" class="label custom-select custom-select-lg form-control" [ngClass]="{ 'is-invalid': submitted && f?.['department'].errors }">
                        <option selected [ngValue]="0">Selektiere ein Departament</option>
                        <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
                    </select>
                    <div *ngIf="submitted && f?.['department'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['department'].errors?.['required']" id="department-required-error">Departament ist erforderlich.</div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="workplace">Arbeitsplatz</label>
                    <select id="workplace-select" formControlName="workplace" class="label custom-select custom-select-lg form-control" [ngClass]="{ 'is-invalid': submitted && f?.['workplace'].errors }">
                        <option selected [ngValue]="0">Selektiere ein Arbeitsplatz.</option>
                        <option *ngFor="let workplace of workplaces" [ngValue]="workplace.id">{{workplace.name}}, {{workplace.street}}, {{workplace.zip}}, {{workplace.city}}</option>
                    </select>
                    <div *ngIf="submitted && f?.['workplace'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['workplace'].errors?.['required']" id="workplace-required-error">Arbeitsplatz ist erforderlich.</div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="email">Email Adresse</label>
                    <input id="email-input" type="email" formControlName="email" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['email'].errors }" placeholder="name@example.com"/>
                    <div *ngIf="submitted && f?.['email'].errors" class="invalid-feedback">
                        <div *ngIf="f?.['email'].errors?.['required']" id="email-required-error">Email Adresse ist erforderlich.</div>
                        <div *ngIf="f?.['email'].errors?.['pattern']" id="email-pattern-error">Email ist ungültig.</div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="form-group col-md-6">
                        <label class="label" for="username">Benutzername</label>
                        <input id="username-input" type="text" formControlName="username" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['username'].errors }" />
                        <div *ngIf="submitted && f?.['username'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['username'].errors?.['required']" id="username-required-error">Benutzername ist erforderlich.</div>
                            <div *ngIf="f?.['username'].errors?.['maxlength']" id="username-pattern-error">Benutzername darf maximal 10 Zeichen haben.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label" for="password">Passwort</label>
                        <input id="password-input" type="password" formControlName="password" class="label form-control" [ngClass]="{ 'is-invalid': submitted && f?.['password'].errors }" />
                        <div *ngIf="submitted && f?.['password'].errors" class="invalid-feedback">
                            <div *ngIf="f?.['password'].errors?.['required']" id="password-required-error">Passwort ist erforderlich.</div>
                            <div *ngIf="f?.['password'].errors?.['minlength']" id="password-minLength-error">Passwort muss mindestens 6 Zeichen haben.</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="form-group mb-3">
                        <button [disabled]="loading" class="btn btn-primary" id="register-button">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Registrieren
                        </button>
                    </div>
                    <div class="form-group">
                        <a routerLink="../login" class="btn btn-link" id="cancel-button">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>