/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#register-mask {
  background-color: rgb(27, 28, 31);
}
.label {
  background-color: rgb(27, 28, 31);
  color: white;
  margin-bottom: 2%;
}

.form-control {
  border: 1px solid rgb(41, 44, 46);
}