/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Montserrat', sans-serif !important; 
    background-color: rgb(235,235,235);
}
@media print {
    body {
        background-color: unset;
    }
}
div.state-acquisition{
	background-color:  #ffcc99!important;
}
div.state-planning {
	background-color: #86e286!important;
}
div.state-realistation {
	background-color: #66ccff!important;
}
div.state-done {
	background-color: #CCC!important;
}

span.btn-state-change, select.btn-state-change {
    width: 100%;
}
.ag-theme-alpine.ag-small{
	--ag-grid-size: 3px;
	--ag-list-item-height: 20px;
}
.ag-row-selected::before {
	background-color: unset!important; //to not display a shade when clicking on a row
}
